{% extends 'admin/base.html' %}

{% block title %}Messages{% endblock %}

{% block content %}

<div class="container">
    <h3 class="text-center my-3">Messages</h3>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card rounded-0">
                <div class="card-body p-2">
                    {% for message in messages %}
                    <p class="">{{ message.sent_by }} : {{ message.message }} </p>
                    {% endfor %}
                </div>
                <div class="card-footer">
                    <form method="POST" action="{{ url_for('message.add',conversation_id=conversation_id) }}" enctype="multipart/form-data"  id="adminForm">
                        {{ form.csrf_token }}
                        <div class="row">
                            <div class="col-12">
                                {{ form.message(class="form-control form-control-sm") }}
                            </div>
                            <div class="col-12 my-2">
                                <button type="submit" class="btn btn-dark btn-sm float-end">Send</button>
                                <a href="{{ url_for('conversation.index') }}" class="btn btn-outline-dark btn-sm float-end me-2">Back</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>

<script>
    $(document).ready(function () {
        window.editRecord = function (id) {
            window.location.href= "/admin/messages/update/" + id;
        };

        window.deactivateRecord = function (id) {
            window.location.href= "/admin/messages/status/" + id;
        };
    });
</script>

{% endblock %}