{% extends 'admin/base.html' %}

{% block title %}Update Message{% endblock %}

{% block content %}


<div class="container">
    <h3 class="text-center my-3">Update Messages</h3>

    <form id="adminForm" method="POST" action="{{ url_for('message.update',id=id) }}">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-12">
                {{ form.conversation_id.label(class="form-label") }}
                {{ form.conversation_id(class="form-control form-control-sm") }}
            </div>
            <div class="col-12">
                {{ form.message_text.label(class="form-label") }}
                {{ form.message_text(class="form-control form-control-sm") }}
            </div>
            <div class="col-12 my-2">
                <button type="submit" class="btn btn-dark btn-sm">Submit</button>
                <a href="{{ url_for('message.index') }}" class="btn btn-outline-dark btn-sm">Back</a>
            </div>
        </div>
    </form>

</div>

<script>
    $(document).ready(function () {
        $('#addUserForm').validate({
            rules: {
                conversation_id: {
                    required: true,
                    digits:true
                },
                message_text: {
                    required: true,
                    minlength: 1
                }
                
            },
            messages: {
                conversation_id: {
                    required: "Please enter Conversation id"
                },
                message_text: {
                    required: "Please enter the message you want to create",
                    minlength: "Message must be at least 1 characters long"
                }
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    });
</script>

{% endblock %}