{% extends 'admin/base.html' %}

{% block title %}Add New Order{% endblock %}

{% block content %}
<div class="container">
    <h3 class="text-center my-3">Add Order</h3>

    <div class="border p-5 border-1 shadow shadow-lg">
    <form method="POST" action="{{ url_for('order.add') }}" id="adminForm">
        {{ form.csrf_token }}
        <div class="row">
            
            <div class="row p-3">
                <div class="col-6">
                    {{ form.product_id.label(class="form-label") }}
                    {{ form.product_id(class="form-control form-control", placeholder="Enter product_id") }}
                </div>
                <div class="col-6">
                    {{ form.user_id.label(class="form-label") }}
                    {{ form.user_id(class="form-control form-control", placeholder="Enter user_id") }}
                </div>
            </div>

            <div class="row p-3">
                <div class="col-6">
                    {{ form.price.label(class="form-label") }}
                    {{ form.price(class="form-control form-control", readonly="readonly", placeholder="Price") }}
                </div>
                <div class="col-6">
                    {{ form.quantity.label(class="form-label") }}
                    {{ form.quantity(class="form-control form-control") }}
                </div>
            </div>

            <div class="row p-3">
                <div class="col-6">
                    {{ form.payment_method.label(class="form-label") }}
                    {{ form.payment_method(class="form-control") }}
                </div>
                <div class="col-6">
                    {{ form.payment_status.label(class="form-label") }}
                    {{ form.payment_status(class="form-control") }}
                </div>
            </div>

            <div class="row p-3">
                <div class="col-4">
                    {{ form.mobile.label(class="form-label") }}
                    {{ form.mobile(class="form-control form-control", placeholder="Enter Mobile No..") }}
                </div>
                <div class="col-4">
                    {{ form.area_pincode.label(class="form-label") }}
                    {{ form.area_pincode(class="form-control form-control", placeholder="Enter Available Area Pincode") }}
                </div>
                <div class="col-4">
                    {{ form.expected_delivery.label(class="form-label") }}
                    {{ form.expected_delivery(class="form-control form-control") }}
                </div>
            </div>
            <div class="col-12">
                {{ form.shipping_address.label(class="form-label") }}
                {{ form.shipping_address(class="form-control form-control", placeholder="Enter Shipping Address") }}
            </div>

            <div class="row">
                <div class="col my-3">
                    <input type="submit" class="btn btn-dark btn-sm" value="Submit" />
                    <a href="{{ url_for('order.index') }}" class="btn btn-outline-dark btn-sm">Back</a>
                </div>
            </div>
            
        </div>
    </form>
    </div>

</div>
<script>
    $(document).ready(function(){
        $('#adminForm').validate({
            rules: {
                user_id: {
                    required: true,
                    digits: true,
                    min: 1,
                },
                quantity: {
                    required: true,
                    digits:true,
                    min: 1,
                    
                },
                shipping_address: {
                    required: true,
                    minlength: 10,
                    maxlength: 100
                },
                area_pincode:{
                    required: true,
                    digits:true,
                    minlength: 6,
                    maxlength: 6
                }
            },
            messages: {
                user_id: {
                    required: "Please enter user id",
                    digits: "Invalid user id",
                    min: "Invalid user id"
                },
                quantity: {
                    required: "Please enter Quantity",
                    digits: "Invalid Quantity",
                    min: "Quantity can not be less then 0",
                },
                shipping_address: {
                    required: "Please enter shipping_address",
                    minlength: "Incomplete Shipping address",
                    maxlength: "Invalid Address"
                },
                area_pincode: {
                    required: "Please enter area pincode",
                    digits: "Invalid Pincode",
                }
            },
            submitHandler: function (form) {
                form.submit();
            }
        });

        function getTotalPrice(productId, quantity) {
            $.ajax({
                url: "{{ url_for('product.get_total_price') }}",
                type: "GET",
                contentType: "application/json",
                data: {
                    product_id: productId,
                    quantity:quantity
                },
                success: function(response) {
                    if (response.error) {
                        $("#productError").text(response.error)
                    }
                    else{
                        $("#price").val(response.total_price)
                    }
                }
            });
        }
        
        $("#product_id").on("change", function() {
            $("#price").val(0)
            $("#productError").text('')
            if ($(this).val() !== '' && !isNaN($(this).val()) && parseInt($(this).val()) > 0) {
                let selectedProductId = $(this).val();
                let selectedQuantity = $("#quantity").val();
                getTotalPrice(selectedProductId, selectedQuantity);
            }
            else{
                $("#price").val(0)
                $("#productError").text('Invalid Product Id')
            }
        });
        
        $("#quantity").on("change", function() {
            $("#productError").text('')
            $("#price").val(0)
            if ($(this).val() !== '' && !isNaN($(this).val()) && parseInt($(this).val()) > 0) {
                let selectedQuantity = $(this).val();
                let selectedProductId = $("#product_id").val();
                getTotalPrice(selectedProductId, selectedQuantity);
            }
            else{
                $("#price").val(0)
            }
        });
    });
</script>

{% endblock %}
