{% extends 'admin/base.html' %}

{% block title %} Order Details {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="card my-2 px-0 rounded-0">
            <div class="card-header">
                <h5 class="text-center my-1">Order Details</h5>
            </div>
            <div class="card-body py-0">
                <div class="row" style="min-height: 200px;">
                    <div class="col-md-2 border-end">
                        <div class="p-1">
                            <img src="{{ url_for('static', filename='img/flask-icon.png') }}" alt="..." class="card-img">
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-6">
                                <ul class="list-group border-0">
                                    <li class="list-group-item d-flex justify-content-start align-items-center border-0">
                                        <i class="bi bi-cpu me-2"></i>
                                      {{ order.created_at }}
                                    </li>
                                    <li class="list-group-item d-flex justify-content-start align-items-center border-0">
                                        <i class="bi bi-cpu me-2"></i>
                                        {{ order.product_id }}
                                    </li>
                                    <li class="list-group-item d-flex justify-content-start align-items-center border-0">
                                        <i class="bi bi-cpu me-2"></i>
                                        {{ order.quantity }}
                                    </li>
                                    <li class="list-group-item d-flex justify-content-start align-items-center border-0">
                                        <i class="bi bi-cpu me-2"></i>
                                        {{ order.price }}
                                    </li>
                                    <li class="list-group-item d-flex justify-content-start align-items-center border-0">
                                        <i class="bi bi-cpu me-2"></i>
                                        {{ order.shipping_address }}
                                    </li>
                                    <li class="list-group-item d-flex justify-content-start align-items-center border-0">
                                        <i class="bi bi-cpu me-2"></i>
                                        {{ order.area_pincode }}
                                    </li>
                                  </ul>
                            </div>
                            <div class="col-6 border">
                                <h5 class="text-center">Order Logs</h5>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Time</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order_log in order_logs %}
                                            <tr>
                                                <td id="order_log_{{order_log['id']}}"></td>
                                                <td>{{ order_log['status_name']}}</td>
                                            </tr>
                                            <script>
                                                $("#order_log_{{order_log['id']}}").text(getFormattedDateTime("{{ order_log['created_at'] }}"))
                                            </script>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="card-footer my-1">
                <a href="{{ url_for('order.index') }}"  class="btn btn-outline-dark btn-sm float-end">Back</a>
                <a href="{{ url_for('order.update',id=order.id) }}"  class="btn btn-dark btn-sm me-1 float-end">Edit</a>

            </div>
        </div>
    </div>
</div>


{% endblock %}
