{% extends 'admin/base.html' %}

{% block title %} Order Details {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">

        <div class="card my-2 px-0 rounded-0">
            <div class="card-header">
                <h5 class="text-center my-1">Order Details</h5>
            </div>
            <div class="card-body py-0 w-100">
                <div class="row" style="min-height: 200px;">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <table class="table table-bordered table-hover shadow-sm my-1 w-100">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>Total Amount</th>
                                            <th>Payment Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><img src="{{ url_for('static', filename=product.product_img_urls[0])  }}" alt="" class="adminTableImg"></td>
                                            <td>{{ product.product_name }}</td>
                                            <td>x{{order.quantity}}</td>
                                            <td>₹{{ order.price }}/-</td>
                                            <td>{{payment_status}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="border p-1 shadow-sm">
                                    <p class="fw-bold">Shipping Information :</p>
                                    <p>{{ user.first_name +" "+ user.last_name }}, {{order.mobile}}</p>
                                    <p>{{ order.shipping_address }}, {{ order.area_pincode }}</p>
                                </div>
                                <div class="border p-1 shadow-sm">
                                    <p class="fw-bold">Billing Information :</p>
                                    <p>{{ user.first_name +" "+ user.last_name }}, {{user.mobile}}</p>
                                    <p>{{ user.email }}</p>
                                    <p>{{ user.address }}</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12 border">
                                <h5 class="text-center">Order Logs</h5>
                                <table class="table table-hover w-100">
                                    <thead>
                                        <tr>
                                            <th>Time</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order_log in order_logs %}
                                            <tr>
                                                <td id="order_log_{{order_log['id']}}"></td>
                                                <td>{{ order_log['status_name']}}</td>
                                            </tr>
                                            <script>
                                                $("#order_log_{{order_log['id']}}").text(getFormattedDateTime("{{ order_log['created_at'] }}"))
                                            </script>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="card-footer my-1">
                <a href="{{ url_for('order.index') }}"  class="btn btn-outline-dark btn-sm float-end">Back</a>
                <a href="{{ url_for('order.update',id=order.id) }}"  class="btn btn-dark btn-sm me-1 float-end">Edit</a>

            </div>
        </div>
    </div>

    </div>
</div>


{% endblock %}
