{% extends 'admin/base.html' %}

{% block title %} Order Details {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="card my-2 px-0 rounded-0">
            <div class="card-header">
                <h5 class="text-center my-1">Order Details</h5>
            </div>
            <div class="card-body py-0">
                <div class="row" style="min-height: 200px;">
                    <div class="col-md-2 border-end">
                        <div class="p-1">
                            <img src="{{ url_for('static', filename=product.product_img_urls[0]) }}" alt="..." class="card-img">
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>Total Amount</th>
                                            <th>Payment Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ product.product_img_urls[0] }}{{ product.product_name }}</td>
                                            <td>{{order.quantity}}</td>
                                            <td>₹{{ order.price }}/-</td>
                                            <td>{{payment_status}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p>Shipping Information</p>
                                <p>
                                    {{ user.first_name +" "+ user.last_name }}, 
                                </p>

                                <ul class="list-group border-0">
                                    <li class="list-group-item border-0">
                                      <span class="fw-bold">Orderd By : </span> {{ user.first_name +" "+ user.last_name }}
                                    </li>
                                    <li class="list-group-item  border-0">
                                      <span class="fw-bold">Ordered At : </span> {{ order.created_at }}
                                    </li>
                                    <li class="list-group-item  border-0">
                                        <span class="fw-bold">Product : </span> {{ product.product_name }}
                                    </li>
                                    <li class="list-group-item border-0">
                                        <span class="fw-bold">Quantity : </span> {{ order.quantity }} Item
                                    </li>
                                    <li class="list-group-item  border-0">
                                        <span class="fw-bold">Order Amount : </span> ₹{{ order.price }}/- ( {{payment_status}} )
                                    </li>
                                    <li class="list-group-item  border-0">
                                        <span class="fw-bold">Shipping Address : </span> {{ order.shipping_address }}
                                    </li>
                                    <li class="list-group-item  border-0">
                                        <span class="fw-bold">Shipping Pincode : </span> {{ order.area_pincode }}
                                    </li>
                                  </ul>
                            </div>
                            <div class="col-lg-6 col-12 border">
                                <h5 class="text-center">Order Logs</h5>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Time</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order_log in order_logs %}
                                            <tr>
                                                <td id="order_log_{{order_log['id']}}"></td>
                                                <td>{{ order_log['status_name']}}</td>
                                            </tr>
                                            <script>
                                                $("#order_log_{{order_log['id']}}").text(getFormattedDateTime("{{ order_log['created_at'] }}"))
                                            </script>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="card-footer my-1">
                <a href="{{ url_for('order.index') }}"  class="btn btn-outline-dark btn-sm float-end">Back</a>
                <a href="{{ url_for('order.update',id=order.id) }}"  class="btn btn-dark btn-sm me-1 float-end">Edit</a>

            </div>
        </div>
    </div>
</div>


{% endblock %}
