{% extends 'admin/base.html' %}

{% block title %}Orders{% endblock %}

{% block content %}

<div class="container">
    <h3 class="text-center my-3">Orders</h3>

    <div class="row">
        <div class="col text-end">
            <a href="{{url_for('order.add')}}" class="btn btn-outline-dark btn-sm my-2">NEW</a>
        </div>
    </div>

    <table id="adminDataTable" class="table table-bordered" style="width:100%">
        <thead>
            <tr>
                <th># id</th>
                <th>product</th>
                <th>User id</th>
                <th>User's Name</th>
                <th>User's Email</th>
                <th>Quantity</th>
                <th>Final Amount</th>
                <th>Payment Method</th>
                <th>Payment Status</th>
                <th>Shipping Address</th>
                <th>Area Pincode</th>
                <th>Ordered At</th>
                <th>Order Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        var table = $('#adminDataTable').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "{{url_for('order.get_order_data')}}",
                "type": "GET"
            },
            "columns": [
                { "data": "id" },
                { "data": "product_name"},
                { "data": "user_id" },
                { "data": "fullname" },
                { "data": "email" },
                { "data": "quantity"},
                { "data": "price"},
                { "data": "payment_method_name"},
                {
                    "data": "payment_statuses",
                    "render": function(data, type, row) {
                        var dropdown = $('<div>').addClass('dropdown');
                        var dropdownToggle = $('<a>').addClass('btn btn-outline-dark btn-sm dropdown-toggle toggleStatusButtons')
                                                    .attr({
                                                        'href': '#',
                                                        'role': 'button',
                                                        'data-bs-toggle': 'dropdown',
                                                        'aria-expanded': 'false'
                                                    }).text(row.payment_status_name);
                        var dropdownMenu = $('<ul>').addClass('dropdown-menu');
                        $.each(data, function(index, status) {
                            dropdownMenu.append($('<li>').append($('<a>').addClass('dropdown-item toggleStatusButtons').attr('href', '/admin/orders/statuses/' + row.id + '/payment/' + status).text(status)));
                        });
                        dropdown.append(dropdownToggle);
                        dropdown.append(dropdownMenu);
                        return dropdown.prop('outerHTML');
                    }
                },
                { "data": "shipping_address"},
                { "data": "area_pincode"},
                { 
                    "data": null,
                    "render": function (data, type, row) {
                        return getFormattedDateTime(row.created_at);
                    }
                    
                },
                {
                    "data": "order_statuses",
                    "render": function(data, type, row) {
                        var dropdown = $('<div>').addClass('dropdown');
                        var dropdownToggle = $('<a>').addClass('btn btn-outline-dark btn-sm dropdown-toggle toggleStatusButtons')
                                                    .attr({
                                                        'href': '#',
                                                        'role': 'button',
                                                        'data-bs-toggle': 'dropdown',
                                                        'aria-expanded': 'false'
                                                    }).text(row.order_status_name);
                        var dropdownMenu = $('<ul>').addClass('dropdown-menu');
                        $.each(data, function(index, status) {
                            dropdownMenu.append($('<li>').append($('<a>').addClass('dropdown-item toggleStatusButtons').attr('href', '/admin/orders/statuses/' + row.id + '/order/' + status).text(status)));
                        });
                        dropdown.append(dropdownToggle);
                        dropdown.append(dropdownMenu);
                        return dropdown.prop('outerHTML');
                    }
                },
                {
                    "data": null,
                    "render": function (data, type, row) {
                        return '<button class="btn btn-outline-success btn-sm me-1" data-bs-placement="bottom" title="View" data-bs-custom-class="custom-tooltip" onclick="viewRecord(' + row.id + ')"><i class="bi bi-file-text"></i></button>' +
                        '<button class="btn btn-outline-dark btn-sm me-1" data-toggle="tooltip"  data-bs-placement="bottom" title="Edit" data-bs-custom-class="custom-tooltip" onclick="editRecord(' + row.id + ')"><i class="bi bi-pencil"></i></button>' +
                        '<button class="btn  btn-sm me-1 border-'+(row.is_active ? 'danger' : 'success')+'" data-toggle="tooltip"  data-bs-placement="bottom"'+ (row.is_active ? 'title="Deactivate"' : 'title="Activate"')+' onclick="deactivateRecord(' + row.id + ')" >' + (row.is_active ? '<i class="bi bi-eye-slash-fill text-danger"></i>' : '<i class="bi bi-eye-fill text-success"></i>') + '</button>';
                    }
                }
            ]
        });

        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        
        window.editRecord = function (id) {
            window.location.href= "/admin/orders/update/" + id;
        };
        window.deactivateRecord = function (id) {
            window.location.href= "/admin/orders/status/" + id;
        };
        window.viewRecord = function (id) {
            window.location.href= "/admin/orders/details/" + id;
        };
    });
</script>


{% endblock %}