{% extends 'auth/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container">
    <h3 class="text-center mt-5">Login</h3>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% if current_user.is_authenticated %}
    Hi {{ current_user.name }}!
    {% endif %}

    <form method="POST" action="{{ url_for('auth.login') }}">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-md-8">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
            </div>
            <div class="col-md-8">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
            </div>
            <div class="col-md-8 my-3">
                <button type="submit" class="btn btn-outline-dark btn-sm">Login</button>
                <div class="row my-3">
                    <div class="col">
                        <a href="{{ url_for('auth.reset_password') }}">Forgot password ?</a>
                        <a href="{{ url_for('auth.signup') }}" class="float-end">New user ?</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}