{% extends 'auth/base.html' %}

{% block title %}Reset password{% endblock %}

{% block content %}

<div class="container-fluid p-0">
    <div class="row">
        <div class="p-0 d-none d-lg-inline-block col-lg-7">
            <img src="../../static/img/login_back.jpg" alt="..." style="max-width:100%;">
        </div>
        <div class="col-lg-5 pt-5">


            <h5 class="mt-5 mb-5" style="border-bottom:3px solid #000000;width:fit-content;margin:auto;">RESET PASSWORD
            </h5>

            <div class="col-12">
                <form id="sendOtpForm">
                    <div class="row my-3">
                        <div class="col-8 pe-0">
                            <input type="text" class="form-control-sm w-100 rounded-0" name="emailOrMobile"
                                id="emailOrMobile" placeholder="Enter your email or mobile">
                        </div>
                        <div class="col-4 ps-0">
                            <input type="submit" class="btn btn-blue btn-sm w-100" value="SEND OTP">
                        </div>
                    </div>
                </form>

                <form id="verifyOtpForm" class="d-none">
                    <input type="hidden" id="userIdForVerify">
                    <div class="row my-3">
                        <div class="col-8 pe-0">
                            <input type="text" class="form-control-sm w-100 rounded-0" name="otp" id="otp"
                                placeholder="Enter otp">
                        </div>
                        <div class="col-4 ps-0">
                            <input type="submit" class="btn btn-blue btn-sm w-100" value="VERIFY OTP">
                        </div>
                    </div>
                </form>

                <form id="changePasswordForm" class="d-none">
                    <input type="hidden" id="userIdForChangePw">
                    <div class="row my-3">
                        <div class="col-8 pe-0">
                            <input type="text" class="form-control-sm w-100 rounded-0" name="newPassword"
                                id="newPassword" placeholder="Enter new password">
                        </div>
                        <div class="col-4 ps-0">
                            <input type="submit" class="btn btn-blue btn-sm w-100" value="CHANGE">
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

<script>

    $('#sendOtpForm').submit((e) => {
        e.preventDefault();

        $.ajax({
            url: "{{url_for('auth.send_otp_for_reset_password')}}",
            type: "POST",
            dataType: "json",
            data: { "email_or_mob": $('#emailOrMobile').val() },
            complete: (res) => {
                res.then(data => {
                    if (data.status === "success") {
                        $("#userIdForVerify").val(data.user_id);
                        $('#emailOrMobile').attr("readonly",true);
                        $('#verifyOtpForm').removeClass("d-none");
                    } else {
                        console.log(data)
                    }
                });
            }
        });
    });

    $('#verifyOtpForm').submit((e) => {
        e.preventDefault();

        $.ajax({
            url: "{{url_for('auth.verify_otp_for_reset_password')}}",
            type: "POST",
            dataType: "json",
            data: { "otp": $('#otp').val(), "user_id": $("#userIdForVerify").val() },
            complete: (res) => {
                res.then(data => {
                    if (data.status === "success") {
                        $("#userIdForChangePw").val(data.user_id);
                        $("#emailOrMobile").val("");
                        $("#otp").val("");
                        $('#sendOtpForm').addClass("d-none");
                        $('#verifyOtpForm').addClass("d-none");
                        $('#changePasswordForm').removeClass("d-none");
                    } else {
                        console.log(data)
                    }
                });
            }
        });
    });

    $('#changePasswordForm').submit((e) => {
        e.preventDefault();

        $.ajax({
            url: "{{url_for('auth.change_password')}}",
            type: "POST",
            dataType: "json",
            data: { "new_password": $('#newPassword').val(), "user_id": $("#userIdForChangePw").val() },
            complete: (res) => {
                res.then(data => {
                    if (data.status === "success") {
                        console.log(data);
                    } else {
                        console.log(data)
                    }
                });
            }
        });
    });

</script>

{% endblock %}