{% extends 'auth/base.html' %}

{% block title %}Reset password{% endblock %}

{% block content %}

<div class="container-fluid p-0">
    <div class="row">
        <div class="p-0 d-none d-lg-inline-block col-lg-7">
            <img src="../../static/img/login_back.jpg" alt="..." style="max-width:100%;height:100vh; object-fit: contain;">
        </div>
        <div class="col-lg-5 pt-5">


            <h5 class="mt-5 mb-5" style="border-bottom:3px solid #000000;width:fit-content;margin:auto;">RESET PASSWORD
            </h5>

            <div class="col-12">
                <form id="sendOtpForm">
                    <div class="row my-3">
                        <div class="col-8 pe-0">
                            <input type="text" class="form-control-sm w-100 rounded-0" name="emailOrMobile"
                                id="emailOrMobile" placeholder="Enter your email or mobile">
                            </div>
                            <div class="col-4 ps-0">
                                <button type="submit" class="btn btn-blue btn-sm w-100" id="send_otp_btn">SEND OTP</button>
                                <p class="text-end p-0 m-0"><small id="timer" class="d-none text-muted"></small></p>
                        </div>
                    </div>
                </form>

                <form id="verifyOtpForm" class="d-none">
                    <input type="hidden" id="userIdForVerify">
                    <div class="row my-3">
                        <div class="col-8 pe-0">
                            <input type="text" class="form-control-sm w-100 rounded-0" name="otp" id="otp"
                                placeholder="Enter otp">
                        </div>
                        <div class="col-4 ps-0">
                            <button type="submit" class="btn btn-blue btn-sm w-100" id="verify_otp_btn">VERIFY OTP</button>
                        </div>
                    </div>
                </form>

                <form id="changePasswordForm" class="d-none">
                    <input type="hidden" id="userIdForChangePw">
                    <div class="row my-3">
                        <div class="col-8 pe-0">
                            <input type="text" class="form-control-sm w-100 rounded-0" name="newPassword"
                                id="newPassword" placeholder="Enter new password">
                        </div>
                        <div class="col-4 ps-0">
                            <button type="submit" class="btn btn-blue btn-sm w-100" id="change_password_btn">UPDATE</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(()=>{
        
    })
    $('#sendOtpForm').submit((e) => {
        e.preventDefault();
        $("#send_otp_btn").html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>')
        $('#verifyOtpForm').addClass("d-none");
        $('#changePasswordForm').addClass("d-none");
        $.ajax({
            url: "{{url_for('auth.send_otp_for_reset_password')}}",
            type: "POST",
            dataType: "json",
            data: { "email_or_mob": $('#emailOrMobile').val() },
            complete: (res) => {
                res.then(data => {
                    $('#timer').removeClass("d-none")
                    if (data.status === "success") {
                        // timer
                        var seconds = 180; // 3 minutes

                        var countdownInterval = setInterval(function() {
                          var minutes = Math.floor(seconds / 60);
                          var remainingSeconds = seconds % 60;
                        
                          $('#timer').text('('+minutes + ' : ' + (remainingSeconds < 10 ? '0' : '') + remainingSeconds+')');
                          seconds--;
                          if (seconds == 150) {
                            $("#send_otp_btn").prop("disabled",false)
                            $("#send_otp_btn").text("RESEND OTP")
                            $('#emailOrMobile').attr("readonly",false);
                          }
                          if(seconds<0){
                            clearInterval(interval);
                            $('#timer').text('')
                          }
                        }, 1000);
                        
                        $("#send_otp_btn").prop("disabled",true)
                        $("#send_otp_btn").text("OTP Sent")
                        $("#userIdForVerify").val(data.user_id);
                        $('#emailOrMobile').attr("readonly",true);
                        $('#verifyOtpForm').removeClass("d-none");
                        toastr.success(data.message)
                    } else {
                        $("#send_otp_btn").text("SEND OTP")
                        $("#send_otp_btn").attr("disabled",false)
                        toastr.error(data.message)
                    }
                });
            }
        });
    });

    $('#verifyOtpForm').submit((e) => {
        e.preventDefault();
        $.ajax({
            url: "{{url_for('auth.verify_otp_for_reset_password')}}",
            type: "POST",
            dataType: "json",
            data: { "otp": $('#otp').val(), "user_id": $("#userIdForVerify").val() },
            complete: (res) => {
                res.then(data => {
                    if (data.status === "success") {
                        $('#timer').addClass("d-none")
                        $("#verify_otp_btn").text("VERIFIED")
                        $("#send_otp_btn").prop("disabled",true)
                        $('#emailOrMobile').attr("readonly",true);
                        $("#verify_otp_btn").prop("disabled",true)
                        $("#userIdForChangePw").val(data.user_id);
                        $("#otp").attr("readonly",true);
                        $('#changePasswordForm').removeClass("d-none");
                        toastr.success(data.message)
                    } else {
                        toastr.error(data.message)
                    }
                });
            }
        });
    });

    $('#changePasswordForm').submit((e) => {
        e.preventDefault();

        $.ajax({
            url: "{{url_for('auth.change_password')}}",
            type: "POST",
            dataType: "json",
            data: { "new_password": $('#newPassword').val(), "user_id": $("#userIdForChangePw").val() },
            complete: (res) => {
                res.then(data => {
                    if (data.status === "success") {
                        $("#change_password_btn").prop("disabled",true)
                        $("#userIdForChangePw").attr("readonly",true);
                        toastr.success("<p>Password successfully changed,</p> You'll be redirected to homepage after 3 seconds")
                        setTimeout(function() {
                            window.location.href = "{{url_for('home.index')}}";
                        }, 3000);
                    } else {
                        toastr.error(data.message)
                    }
                });
            }
        });
    });

</script>

{% endblock %}