{% extends 'auth/base.html' %}

{% block title %}Verify otp{% endblock %}

{% block content %}

<div class="container">
    <form method="POST" action="{{ url_for('auth.verify_otp',id=id) }}" id="adminForm" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-12">
                {{ form.otp.label(class="form-label") }}
                {{ form.otp(class="form-control form-control-sm") }}
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == 'unverified' %}
                            <p class="text-danger p-0 m-0">
                            {{ message }}
                            </p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="col-12 my-2 text-center">
                <button type="submit" class="btn btn-dark btn-sm mt-3">VERIFY</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}