{% extends 'admin/base.html' %}

{% block title %}Roles{% endblock %}

{% block content %}

<div class="container">
    <h3 class="text-center my-3">Roles</h3>

    <div class="row">
        <div class="col text-end">
            <a href="{{url_for('role_bp.add')}}" class="btn btn-outline-dark btn-sm my-2">NEW</a>
        </div>
    </div>

    <table id="roleTable" class="table table-bordered" style="width:100%">
        <thead>
            <tr>
                <th># Id</th>
                <th>Role</th>
                <th>User Id</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


<script>
    $(document).ready(function () {
        var table = $('#roleTable').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "{{url_for('role_bp.get_role_data')}}",
                "type": "GET"
            },
            "columns": [
                { "data": "id" },
                { "data": "role" },
                { "data": "user_id" },
                {
                    "data": null,
                    "render": function (data, type, row) {
                        return '<button class="btn btn-outline-dark btn-sm me-1" onclick="editRecord(' + row.id + ')">Edit</button>' +
                            '<button class="btn btn-outline-dark btn-sm me-1" onclick="deactivateRecord(' + row.id + ')">Deactivate</button>';
                    }
                }
            ]
        });

        window.editRecord = function (id) {
            console.log("Edit record with ID:", id);
        };

        window.deactivateRecord = function (id) {
            console.log("Deactivate record with ID:", id);
        };
    });
</script>

{% endblock %}