{% extends 'admin/base.html' %}

{% block title %}Roles{% endblock %}

{% block content %}

<div class="container">
    <h3 class="text-center my-3">Roles</h3>

    <div class="row">
        <div class="col text-end">
            <a href="{{url_for('role_bp.add')}}" class="btn btn-outline-dark btn-sm my-2">NEW</a>
        </div>
    </div>

    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th># id</th>
                <th>user_id</th>
                <th>role</th>
            </tr>
        </thead>
        <tbody>
            {% for role in roles %}
            <tr>
                <td>{{role.id}}</td>
                <td>{{ role.user_id }}</td>
                <td>{{ role.role }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}