{% extends 'admin/base.html' %}

{% block title %}Add New Booking{% endblock %}

{% block content %}
<div class="container">
    <h3 class="text-center my-3">Add Booking</h3>

    <form method="POST" action="{{ url_for('booking.add') }}" id="adminForm">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-12">
                {{ form.service_id.label(class="form-label") }}
                {{ form.service_id(class="form-control form-control-sm") }}
            </div>
            <div class="col-12">
                {{ form.total_charges.label(class="form-label") }}
                {{ form.total_charges(class="form-control form-control-sm") }}
            </div>
            <div class="col-12">
                {{ form.service_location.label(class="form-label") }}
                {{ form.service_location(class="form-control") }}
            </div>
            <div class="col-12">
                {{ form.service_status.label(class="form-label") }}
                {{ form.service_status(class="form-control") }}
            </div>
            <div class="col-12">
                {{ form.payment_status.label(class="form-label") }}
                {{ form.payment_status(class="form-control") }}
            </div>
            <div class="col-12">
                {{ form.payment_method.label(class="form-label") }}
                {{ form.payment_method(class="form-control form-control-sm") }}
            </div>
            <div class="col-12">
                {{ form.area_pincode.label(class="form-label") }}
                {{ form.area_pincode(class="form-control form-control-sm") }}
            </div>
            <div class="col-12 my-2">
                <button type="submit" class="btn btn-dark btn-sm">Submit</button>
                <a href="{{ url_for('booking.index') }}" class="btn btn-outline-dark btn-sm">Back</a>
            </div>
        </div>
    </form>

</div>
<script>
    $(document).ready(function(){
        $('#adminForm').validate({
            rules: {
                total_charges: {
                    required: true,
                    minlength: 2,
                    maxlength: 5
                },
                service_location: {
                    required: true,
                    minlength: 5,
                    maxlength: 100
                },
                area_pincode:{
                    required: true,
                    digits:true,
                    minlength: 6,
                    maxlength: 6
                }
            },
            messages: {
                total_charges: {
                    required: "Service charge [total]",
                    digits: "Input must be number",
                    min: "Minimum 2 digits number.."
                },
                service_location: {
                    required: "Enter your address",
                    minlength: "Incomplete shiping address",
                    maxlength: "Input must be within 100 char..."
                },
                area_pincode: {
                    required: "Please enter area pincode",
                    digits: "Invalid Pincode",
                }
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    });
</script>

{% endblock %}
