{% extends 'admin/base.html' %}

{% block title %} Booking Details {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="card my-2 px-0 rounded-0">
            <div class="card-header">
                <h5 class="text-center my-1">Booking Details</h5>
            </div>
            <div class="card-body py-0">
                <div class="row" style="min-height: 200px;">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Service</th>
                                            <th>Staff</th>
                                            <th>Total Charge</th>
                                            <th>Payment Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><img src="{{ url_for('static', filename=service.service_img_urls[0]) }}" alt="..." class="card-img">
                                                {{ service.service_name }}</td>
                                            <td>{{ staff.first_name }} {{ staff.last_name }}</td>
                                            <td>₹{{ booking.total_charges }}/-</td>
                                            <td>{{ payment_status }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h4>Shipping Information</h4>
                                <ul class="list-group border-0">
                                    <li class="list-group-item border-0">
                                      <span class="fw-bold">Booked By : </span> {{ user.first_name +" "+ user.last_name }}
                                    </li>
                                    <li class="list-group-item  border-0">
                                      <span class="fw-bold">Booked At : </span> {{ booking.created_at.strftime('%d/%m/%Y, %I:%M %p') }}

                                    </li>
                                    <li class="list-group-item  border-0">
                                        <span class="fw-bold">Service : </span> {{ service.service_name }}
                                    </li>
                                    <li class="list-group-item  border-0">
                                        <span class="fw-bold">Service Charge : </span> ₹{{ service.service_charge }}/- ( {{payment_status}} )
                                    </li>
                                    <li class="list-group-item  border-0">
                                        <span class="fw-bold">Discount : </span> {{ service.discount }}
                                    </li>
                                    {% set sub_total = service.service_charge - service.discount %}
                                    <li class="list-group-item border-0">
                                        <span class="fw-bold">Sub-Total : </span> ₹{{ sub_total }}
                                    </li>
                                    <li class="list-group-item  border-0">
                                        <span class="fw-bold">Service Location : </span> {{ booking.service_location }}
                                    </li>
                                    <li class="list-group-item  border-0">
                                        <span class="fw-bold">Pincode : </span> {{ booking.area_pincode }}
                                    </li>
                                  </ul>
                            </div>
                            <div class="col-lg-6 col-12 border">
                                <h5 class="text-center">Booking Logs</h5>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Time</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for booking_log in booking_logs %}
                                            <tr>
                                                <td id="booking_log_{{booking_log['id']}}"></td>
                                                <td>{{ booking_log['status_name']}}</td>
                                            </tr>
                                            <script>
                                                $("#booking_log_{{booking_log['id']}}").text(getFormattedDateTime("{{ booking_log['created_at'] }}"))
                                            </script>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="card-footer my-1">
                <a href="{{ url_for('booking.index') }}"  class="btn btn-outline-dark btn-sm float-end">Back</a>
                <a href="{{ url_for('booking.update',id=booking.id) }}"  class="btn btn-dark btn-sm me-1 float-end">Edit</a>

            </div>
        </div>
    </div>
</div>


{% endblock %}
