{% extends 'admin/base.html' %}

{% block title %}Update Booking{% endblock %}

{% block content %}
<div class="container">
    <h3 class="text-center my-3">Update Booking</h3>

    <div class="border p-5 border-1 shadow shadow-lg">
        <form method="POST" action="{{ url_for('booking.update', id=id) }}" id="adminForm">
            {{ form.csrf_token }}
            <div class="row">
    
                <div class="row p-3">
                    <div class="col-4">
                        {{ form.service_id.label(class="form-label") }}
                        {{ form.service_id(class="form-control form-control") }}
                    </div>
                    <div class="col-4">
                        {{ form.staff_id.label(class="form-label") }}
                        {{ form.staff_id(class="form-control form-control") }}
                    </div>
                    <div class="col-4">
                        {{ form.total_charges.label(class="form-label") }}
                        {{ form.total_charges(class="form-control form-control", placeholder="Total Charges..") }}
                    </div>
                </div>
    
                <div class="row p-3">
                    <div class="col-6">
                        {{ form.service_status.label(class="form-label") }}
                        {{ form.service_status(class="form-control") }}
                    </div>
                    <div class="col-6">
                        {{ form.payment_status.label(class="form-label") }}
                        {{ form.payment_status(class="form-control") }}
                    </div>
                </div>
                
                <div class="row p-3">
                    <div class="col-6">
                        {{ form.payment_method.label(class="form-label") }}
                        {{ form.payment_method(class="form-control form-control") }}
                    </div>
                    <div class="col-6">
                        {{ form.area_pincode.label(class="form-label") }}
                        {{ form.area_pincode(class="form-control form-control", placeholder="Available Area Pincode..") }}
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="col-12 ">
                        {{ form.service_location.label(class="form-label") }}
                        {{ form.service_location(class="form-control", placeholder="Enter Service Locaation..") }}
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="col-12 ">
                        {{ form.booking_details.label(class="form-label") }}
                        {{ form.booking_details(class="form-control", id="default-editor") }}
                    </div>
                </div>
               
                <div class="row">
                    <div class="col my-3">
                        <input type="submit" class="btn btn-dark btn-sm" value="Update" />
                        <a href="{{ url_for('booking.index') }}" class="btn btn-outline-dark btn-sm ">Back</a>
                    </div>
                </div>
                
            </div>
        </form>

</div>

<script type="text/javascript">
    tinymce.init({
        selector: 'textarea#default-editor',
        height: 300,
        theme: 'modern',
        plugins: [
          'advlist autolink lists link charmap print preview hr anchor',
          'searchreplace wordcount visualblocks visualchars code fullscreen',
          'insertdatetime nonbreaking save table contextmenu directionality',
          'emoticons template paste textcolor colorpicker textpattern'
        ],
        toolbar1: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link',
        toolbar2: 'print preview media | forecolor backcolor emoticons'
    });
</script>

<script>
    $(document).ready(function(){

        function getTotalPrice(productId, quantity) {
            $.ajax({
                url: "{{ url_for('product.get_total_price') }}",
                type: "GET",
                contentType: "application/json",
                data: {
                    product_id: productId,
                    quantity:quantity
                },
                success: function(response) {
                    $("#price").val(response.total_price)
                }
            });
        }

        let initialProductId = $("#product_id").val();
        let initialQuantity = $("#quantity").val();
        getTotalPrice(initialProductId,initialQuantity);

        $("#product_id").on("change", function() {
            let selectedProductId = $(this).val();
            let selectedQuantity = $("#quantity").val();
            getTotalPrice(selectedProductId, selectedQuantity);
        });

        $("#quantity").on("change", function() {
            if ($(this).val() !== '' && !isNaN($(this).val()) && parseInt($(this).val()) > 0) {
                let selectedQuantity = $(this).val();
                let selectedProductId = $("#product_id").val();
                getTotalPrice(selectedProductId, selectedQuantity);
            }
        });
    });
</script>
<script>
    $(document).ready(function(){
        $('#adminForm').validate({
            rules: {
                total_charges: {
                    required: true,
                    minlength: 2,
                    maxlength: 10
                },
                service_location: {
                    required: true,
                    minlength: 5,
                    maxlength: 100
                },
                area_pincode:{
                    required: true,
                    digits:true,
                    minlength: 6,
                    maxlength: 6
                }
            },
            messages: {
                total_charges: {
                    required: "Service charge [total]",
                    digits: "Input must be number",
                    min: "Minimum 2 digits number.."
                },
                service_location: {
                    required: "Enter your address",
                    minlength: "Incomplete service address",
                    maxlength: "Input must be within 100 char..."
                },
                area_pincode: {
                    required: "Please enter area pincode",
                    digits: "Invalid Pincode",
                }
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    });
</script>

{% endblock %}
