{% extends 'admin/base.html' %}

{% block title %}Categories{% endblock %}

{% block content %}

<div class="container">
    <h3 class="text-center my-3">Categories</h3>

    <div class="row">
        <div class="col text-end">
            <a href="{{url_for('category.add')}}" class="btn btn-outline-dark btn-sm my-2">NEW</a>
        </div>
    </div>

    <table id="categoryTable" class="table table-bordered" style="width:100%">
        <thead>
            <tr>
                <th># id</th>
                <th>Name</th>
                <th>created by</th>
                <th>created at</th>
                <th>updated by</th>
                <th>updated at</th>
                <th style="width:160px;">Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        var table = $('#categoryTable').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "{{url_for('category.get_category_data')}}",
                "type": "GET"
            },
            "columns": [
                { "data": "id" },
                { "data": "category_name"},
                { "data": "created_by"},
                { "data": "created_at"},
                { "data": "updated_by"},
                { "data": "updated_at"},
                {
                    "data": null,
                    "render": function (data, type, row) {
                        return '<button class="btn btn-outline-dark btn-sm me-1" onclick="editRecord(' + row.id + ')">Edit</button>' +
                            '<button class="btn btn-outline-dark btn-sm me-1" onclick="deactivateRecord(' + row.id + ')">' + (row.is_active ? 'Activated' : 'Deactivated') + '</button>';
                    }
                }
            ]
        });

        window.editRecord = function (id) {
            window.location.href= "/admin/categories/update/" + id;
        };

        window.deactivateRecord = function (id) {
            window.location.href= "/admin/categories/status/" + id;
        };
    });
</script>


{% endblock %}