{% extends 'admin/base.html' %}

{% block title %}Add New Coupon{% endblock %}

{% block content %}


<div class="container">
    <h3 class="text-center my-3">Add Coupon</h3>
    <div class="border p-5 border-1 shadow shadow-lg">

    <form method="POST" action="{{ url_for('coupon.add') }}" id="AddCouponForm" enctype="multipart/form-data">

        {{ form.csrf_token }}
        <div class="row">

            <div class="row p-3">
                <div class="col-6">
                    {{ form.coupon_code.label(class="form-label") }}
                    {{ form.coupon_code(class="form-control form-control", placeholder="Enter Coupon Code..") }}
                </div>
                <div class="col-6">
                    {{ form.expiry_date.label(class="form-label") }}
                    {{ form.expiry_date(class="form-control form-control") }}
                </div>
            </div>

            <div class="row p-3">
                <div class="col-6">
                    {{ form.discount_type.label(class="form-label") }}
                    {{ form.discount_type(class="form-control form-control") }}
                </div>
                <div class="col-6">
                    {{ form.discount.label(class="form-label") }}
                    {{ form.discount(class="form-control form-control", placeholder="Enter Discount..") }}
                </div>
            </div>

            
            <div class="row p-3">
                <div class="col-6">
                    {{ form.coupon_img_url.label(class="form-label") }}
                    {{ form.coupon_img_url(class="form-control form-control multi with-preview max-1 maxsize-4096 accept-gif|jpg|png|jpeg|webp") }}
                </div>
                <div class="col-6">
                    {{ form.count.label(class="form-label") }}
                    {{ form.count(class="form-control form-control", placeholder="Enter Count..") }}
                </div>
            </div>

            <div class="row">
                <div class="col my-3">
                  <a href="{{ url_for('coupon.index') }}" class="btn btn-outline-dark btn-sm">Back</a>
                </div>
                <div class="col my-4" style="margin-left: -80px;">
                  <input type="submit" class="btn btn-dark btn-sm" value="Submit" />
                </div>
            </div>
        </div>
    </form>

</div>

<script>
    $(document).ready(function () {
        $('#AddCouponForm').validate({
            rules: {
                coupon_code: {
                    required: true,
                    minlength: 5,
                    maxlength: 20
                },
                expiry_date: {
                    required: true
                },
                discount_type: {
                    required: true
                },
                discount: {
                    required: true,
                },
                coupon_img_url: {
                    required: false
                }
            },
            messages: {
                expiry_date: {
                    required: "Please enter coupon expiry date"
                },
                discount_type: {
                    required: "Please enter your coupon discount type"
                },
                discount: {
                    required: "Please enter discount amount"
                }
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    });
</script>

{% endblock %}