{% extends 'admin/base.html' %}

{% block title %}Add Product{% endblock %}

{% block content %}
<div class="container">
    <h3 class="text-center my-3">Add Product</h3>

    <form method="POST" action="{{ url_for('product.add') }}" enctype="multipart/form-data"  id="adminForm">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-12">
                {{ form.category_id.label(class="form-label") }}
                {{ form.category_id(class="form-control form-control-sm") }}
            </div>
            <div class="col-12">
                {{ form.product_name.label(class="form-label") }}
                {{ form.product_name(class="form-control form-control-sm") }}
            </div>
            <div class="col-12">
                {{ form.brand.label(class="form-label") }}
                {{ form.brand(class="form-control form-control-sm") }}
            </div>
            <div class="col-12">
                {{ form.model.label(class="form-label") }}
                {{ form.model(class="form-control form-control-sm") }}
            </div>
            <div class="col-12">
                {{ form.price.label(class="form-label") }}
                {{ form.price(class="form-control form-control-sm") }}
            </div>
            <div class="col-12">
                {{ form.discount.label(class="form-label") }}
                {{ form.discount(class="form-control form-control-sm") }}
            </div>
            <div class="col-12">
                {{ form.stock.label(class="form-label") }}
                {{ form.stock(class="form-control form-control-sm") }}
            </div>
            <div class="col-12">
                {# for img_url in form.product_img_urls #}
                    {# img_url.label(class="form-label") #}
                    {# img_url(class="form-control form-control-sm") #}
                {# endfor #}
            </div>
            <div class="col-12">
                {{ form.specifications.label(class="form-label") }}
                {{ form.specifications(class="form-control form-control-sm") }}
            </div>
            <div class="col-12">
                {{ form.payment_methods.label(class="form-label") }}
                {{ form.payment_methods(class="form-control", multiple="multiple") }}
            </div>
            <div class="col-12">
                {{ form.available_area_pincodes.label(class="form-label") }}
                {{ form.available_area_pincodes(class="form-control form-control-sm") }}
            </div>
            <div class="col-12">
                {{ form.return_policy.label(class="form-label") }}
                {{ form.return_policy(class="form-control form-control-sm") }}
            </div>
            <div class="col-12 my-2">
                <button type="submit" class="btn btn-dark btn-sm">Submit</button>
                <a href="{{ url_for('product.index') }}" class="btn btn-outline-dark btn-sm">Back</a>
            </div>
        </div>
    </form>

</div>
<script>
    $(document).ready(function () {
        $('#adminForm').validate({
            rules: {
                product_name: {
                    required: true,
                    minlength: 3,
                    maxlength: 40
                },
                brand: {
                    required: true,
                    minlength: 3,
                    maxlength: 20
                },
                model: {
                    required: true,
                    minlength: 3,
                    maxlength: 40,
                },
                price: {
                    required: true,
                    number:true,
                },
                discount: {
                    required: true,
                    number:true,
                },
                stock: {
                    required: true,
                    digits:true,
                },
                specifications: {
                    required: true,
                    minlength: 10
                }
            },
            messages: {
                product_name: {
                    required: "Please enter product name",
                    minlength: "Name must be at least 3 characters long",
                    maxlength: "Name must not exceed 40 characters"
                },
                brand: {
                    required: "Please enter brand",
                    minlength: "Name must be at least 3 characters long",
                    maxlength: "Name must not exceed 20 characters"
                },
                model: {
                    required: "Please enter model",
                    minlength: "Name must be at least 3 characters long",
                    maxlength: "Name must not exceed 20 characters"
                },
                price: {
                    required: "Please enter price",
                    number: "Invalid Price",
                },
                stock: {
                    required: "Please enter stock quantity",
                    digits: "Stock must be in digits",
                },
                discount: {
                    required: "Please enter stock quantity",
                    number: "Invalid Discount",
                },
                specifications: {
                    required: "Please enter Specifications",
                    minlength: "Specifications must be at least 10 characters long",
                    maxlength: "Specifications must not exceed 200 characters"
                }
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    });
</script>

{% endblock %}
