{% extends 'admin/base.html' %}

{% block title %}Add Product{% endblock %}

{% block content %}


<div class="container">
    <h3 class="text-center my-3">Add Product</h3>

    <form method="POST" action="{{ url_for('product.add') }}">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-12">
                {{ form.product_name.label(class="form-label") }}
                {{ form.product_name(class="form-control form-control-sm") }}
            </div>
            <p class="text-danger">
                {% if error %}
                    {{ error }}
                {% endif %}
            </p>
            <div class="col-12">
                {{ form.brand.label(class="form-label") }}
                {{ form.brand(class="form-control form-control-sm") }}
            </div>
            <div class="col-12">
                {{ form.model.label(class="form-label") }}
                {{ form.model(class="form-control form-control-sm") }}
            </div>
            <div class="col-12">
                {{ form.price.label(class="form-label") }}
                {{ form.price(class="form-control form-control-sm") }}
            </div>
            <div class="col-12">
                {{ form.discount.label(class="form-label") }}
                {{ form.discount(class="form-control form-control-sm") }}
            </div>
            <div class="col-12">
                {{ form.stock.label(class="form-label") }}
                {{ form.stock(class="form-control form-control-sm") }}
            </div>
            <div class="col-12">
                {{ form.specifications.label(class="form-label") }}
                {{ form.specifications(class="form-control form-control-sm") }}
            </div>

            <div class="col-12">
                {{ form.return_policy.label(class="form-label") }}
                {{ form.return_policy(class="form-control form-control-sm") }}
            </div>
            <div class="col-12">
                {{ form.payment_methods.label(class="form-label") }}
                {{ form.payment_methods(class="form-control form-control-sm") }}
            </div>
            <div class="col-12">
                {{ form.available_area_pincodes.label(class="form-label") }}
                {{ form.available_area_pincodes(class="form-control form-control-sm") }}
            </div>


            <div class="col-12">
                {{ form.product_img_urls.label(class="form-label") }}
                {{ form.product_img_urls(class="form-control form-control-sm") }}
            </div>
            <div class="col-12 my-2">
                <button type="submit" class="btn btn-dark btn-sm">Submit</button>
                <a href="{{ url_for('product.index') }}" class="btn btn-outline-dark btn-sm">Back</a>
            </div>
        </div>
    </form>
</div>

{% endblock %}