{% extends 'admin/base.html' %}

{% block title %}Products{% endblock %}

{% block content %}

<div class="container">
    <h3 class="text-center my-3">Products</h3>

    <div class="row">
        <div class="col text-end">
            <a href="{{url_for('product.add')}}" class="btn btn-outline-dark btn-sm my-2">NEW</a>
        </div>
    </div>

    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th># id</th>
                <th>Name</th>
                <th>Images</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Price</th>
                <th>Stock</th>
                <th>created by</th>
                <th>created at</th>
                <th>updated by</th>
                <th>updated at</th>
                <th>Manage</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.product_name }}</td>
                <td>
                    {% if product.product_img_urls: %}
                        {% for img in product.product_img_urls: %}
                        <img src="{{ url_for('static', filename='img/products/'+img) }}" class="adminTableImg">
                        {% endfor %}
                    {% endif %}
                </td>
                <td>{{ product.brand }}</td>
                <td>{{ product.model }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.created_by }}</td>
                <td>{{ product.created_at }}</td>
                <td>{{ product.updated_by }}</td>
                <td>{{ product.updated_at }}</td>
                <td>
                    <a href="{{url_for('product.update',id=product.id)}}" class="btn btn-outline-dark btn-sm my-2">Edit</a>
                </td>
                <td>
                    <a href="{{url_for('product.status',id=product.id)}}" class="btn btn-outline-dark btn-sm my-2">
                        {% if not product.is_active %}
                            Deactivated
                        {% else %}
                            Activated
                        {% endif %}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}