{% extends 'admin/base.html' %}

{% block title %}Products{% endblock %}

{% block content %}

<div class="container">
    <h3 class="text-center my-3">Products</h3>

    <div class="row">
        <div class="col text-end">
            <a href="{{url_for('product.add')}}" class="btn btn-outline-dark btn-sm my-2">NEW</a>
        </div>
    </div>
    <table id="adminDataTable" class="table table-bordered" style="width:100%">
        <thead>
            <tr>
                <th># id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Stock</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        var table = $('#adminDataTable').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "{{url_for('product.get_product_data')}}",
                "type": "GET"
            },
            "columns": [
                { "data": "id" },
                { "data": "product_name"},
                { "data": "category_name"},
                { "data": "brand"},
                { "data": "model"},
                { "data": "price"},
                { "data": "discount"},
                { "data": "stock"},
                {
                    "data": null,
                    "render": function (data, type, row) {
                        return '<button class="btn btn-outline-success btn-sm me-1" data-bs-placement="bottom" title="View" data-bs-custom-class="custom-tooltip" onclick="viewRecord(' + row.id + ')"><i class="bi bi-file-text"></i></button>' +
                        '<button class="btn btn-outline-dark btn-sm me-1" data-toggle="tooltip"  data-bs-placement="bottom" title="Edit" data-bs-custom-class="custom-tooltip" onclick="editRecord(' + row.id + ')"><i class="bi bi-pencil"></i></button>' +
                        '<button class="btn  btn-sm me-1 border-'+(row.is_active ? 'danger' : 'success')+'" data-toggle="tooltip"  data-bs-placement="bottom"'+ (row.is_active ? 'title="Deactivate"' : 'title="Activate"')+' onclick="deactivateRecord(' + row.id + ')" >' + (row.is_active ? '<i class="bi bi-eye-slash-fill text-danger"></i>' : '<i class="bi bi-eye-fill text-success"></i>') + '</button>';
                    }
                }
            ]
        });

        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        
        window.editRecord = function (id) {
            window.location.href= "/admin/products/update/" + id;
        };
         window.viewRecord = function (id) {
            window.location.href= "/admin/products/details/" + id;
        };

        window.deactivateRecord = function (id) {
            window.location.href= "/admin/products/status/" + id;
        };
    });
</script>


{% endblock %}