{% extends 'admin/base.html' %}

{% block title %}ServiceQuestions{% endblock %}

{% block content %}

<div class="container">
    <h3 class="text-center my-3">ServiceQuestions</h3>

    <div class="row">
        <div class="col text-end">
            <a href="{{url_for('service_question_bp.add')}}" class="btn btn-outline-dark btn-sm my-2">NEW</a>
        </div>
    </div>

    <table id="service_questionTable" class="table table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>#Id</th>
                <th>created_by</th>
                <th>created_at</th>
                <th>service_id</th>
                <th>Questions</th>
                <th>user_id</th>
                <th style="width: 180px;">Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        var table = $('#service_questionTable').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "{{url_for('service_question_bp.get_service_question_data')}}",
                "type": "GET"
            },
            "columns": [
                { "data": "id" },
                { "data": "created_by" },
                { "data": "created_at" },
                { "data": "service_id"},
                { "data": "question" },
                { "data": "user_id"},
                {
                    "data": null,
                    "render": function (data, type, row) {
                    console.log(row.is_active)
                        return '<button class="btn btn-outline-dark btn-sm me-1" onclick="editRecord(' + row.id + ')">Edit</button>' +
                            '<button class="btn btn-outline-dark btn-sm me-1" onclick="deactivateRecord(' + row.id + ')">' + (row.is_active ? 'Activated' : 'Deactivated') + '</button>';
                    }
                }
            ]
        });

        window.editRecord = function (id) {
            window.location.href= "/admin/service_questions/update/" + id;
        };

        window.deactivateRecord = function (id) {
            window.location.href= "/admin/service_questions/status/" + id;
        };
    });
</script>


{% endblock %}