.checkout-accordian{
    --bs-accordion-btn-bg: rgb(255, 217, 217);
    --bs-accordion-active-color: rgb(255, 255, 255);
    --bs-accordion-active-bg: rgb(149, 154, 150);
    --bs-accordion-border-color: rgb(255, 0, 0);
    --bs-accordion-btn-focus-box-shadow: rgb(5, 255, 126);
  }

/* body{
  overflow-x: hidden;
} */

@media (min-width: 768px) {
    .div-style {
        border: 1px solid #313131;
        border-right: 0;
    }
    .div-img, .div-pro{
      height: 100px;
      width: 200px;
    }
    .div-qnt{
      height: 100px; width: 130px;
    }
    .div-price{
      height: 100px; width: 170px;
      border-right: 1px solid #000000;
    }
    .div-emt{
      height: 50px; width: 200px;
    }
    .div-emt-qnt{
      height: 50px; width: 130px;
    }
    .div-total{
      height: 50px; width: 170px;
      border-right: 1px solid #313131;
      border-top: 0;
    }
  }

@media (max-width: 575.98px) {
    .div-style {
        border: none;
    }
    .div-qnt{
      width: 100px;
    }
    .div-pro, .div-qnt{
      margin-bottom: 10px;
    }
}




/* Checkout */



.accordion{
    
  --bs-accordion-btn-bg: #fbb888;
  --bs-accordion-active-color: rgb(247, 248, 245);
  --bs-accordion-active-bg: #f96a05;
  --bs-accordion-border-color: rgba(34, 34, 45, 0.4);
  --bs-accordion-btn-focus-box-shadow: rgb(128, 0, 255);
}

body{
overflow-x: hidden;
}


@media (max-width: 1238px) {
  
.checkout-img{
  height: 70vh;
  width: 45vw;
}

.form-select{
    width: 70px;
  }


}



@media (max-width: 575.98px) {
  .accordion-body {
      padding: 5px; 
  }

  .table {
      font-size: 0.9rem;
  }

  .table img.product-img {
      height: 50px; 
      width: 50px;
  }

  .table select.form-select {
      width: 100%; 
      font-size: 0.9rem; 
  }

  .d-flex.justify-content-end {
      justify-content: center;
  }

  .btn-primary {
      font-size: 0.9rem; 
  }
  
}












.form-control:focus {
  outline: none;
  box-shadow: none; 
  border-color: pink;

}


.separation-line {
border-top: 1px dashed #aaa;
margin: 0 .8em;
}

.total-section {
position: relative;
overflow: hidden;

padding: 1em;
background: #F1F1F1;
border-bottom-left-radius: .8em;
border-bottom-right-radius: .8em;
}
.total-section:before {
content: '';
position: absolute;
width: 1.6em;
height: 1.6em;
border-radius: 50%;
left: -0.8em;
top: -0.8em;
background: #FFFFFF;
}
.total-section:after {
content: '';
position: absolute;
width: 1.6em;
height: 1.6em;
border-radius: 50%;
right: -0.8em;
top: -0.8em;
background: #FFFFFF;
}
.total-label {
font-size: 0.8em;
padding-bottom: 0.5em;
}
.total-section strong {
font-size: 1.5em;
font-weight: 800;
}
.total-section small {
font-weight: 600;
}
