.about-bg-img {
    background-image: url('../../static/img/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
}

.about-page-small-img img {
    max-width: 300px;
    max-height: 200px;
}

.my-profile-section input[readonly],
.my-profile-section textarea[readonly],
.my-profile-section select[disabled] {
    border: none;
    background-color: transparent;
}

/* For New Contact Page--Subhasis */
.ContactUsbackgroundimg {
    background-image: url('../../static/img/contact.webp');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 300px;
}

.ContactUsbackgroundimg::before {
    content: "";
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.6s;
}

.ContactUsbackgroundimg:hover::before {
    opacity: 0.3;
}

.address i {
    font-size: 25px;
    padding: 3px 6px;
    border-radius: 100%;
    border: 2px solid #1c66b1;
    cursor: pointer;
    color: #1c66b1;
    transition: all 0.2s ease-in-out 0s;
}

.address i:hover {
    background-color: #1c66b1;
    color: white;
}

.address-info {
    font-size: 15px;

}

.MsgSendbutton {
    padding: 7px 15px;
    border-radius: 10px;
    background: linear-gradient(to top left, #6baae8, #2178cf);
    cursor: pointer;
    color: white;
    margin-top: 10px;
    border: none;
}

.MsgSendbutton:hover {
    opacity: 0.9;
    border: 1px solid #1c66b1;
}


/* Chat Box CSS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}



/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* GLOBAL STYLES */
:root {
	--blue: #335DFF;
	--grey: #F5F5F5;
	--grey-d-1: #EEE;
	--grey-d-2: #DDD;
	--grey-d-3: #888;
	--white: #FFF;
	--dark: #222;
}
/* GLOBAL STYLES */


/* CHATBOX */
.chatbox-wrapper {
	position: fixed;
	bottom: 2rem;
	right: 4rem;
	width: 3rem;
	height: 3rem;
}
.chatbox-toggle {
	width: 100%;
	height: 100%;
	background: var(--blue);
	color: var(--white);
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
	transition: .2s;
}
.chatbox-toggle:active {
	transform: scale(.9);
}
.chatbox-message-wrapper {
	position: absolute;
	bottom: calc(100% + 1rem);
	right: 0;
	width: 420px;
	border-radius: .5rem;
	overflow: hidden;
	box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .1);
	transform: scale(0);
	transform-origin: bottom right;
	transition: .2s;
}
.chatbox-message-wrapper.show {
	transform: scale(1);
}
.chatbox-message-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--white);
	padding: .75rem 1.5rem;
}
.chatbox-message-profile {
	display: flex;
	align-items: center;
	grid-gap: .5rem;
}
.chatbox-message-image {
	width: 3rem;
	height: 3rem;
	object-fit: cover;
	border-radius: 50%;
}
.chatbox-message-content {
	background: var(--grey);
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	grid-row-gap: 1rem;
	max-height: 300px;
	overflow-y: auto;
}

.chatbox-message-no-message {
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
}
/* CHATBOX */







/* BREAKPOINTS */
@media screen and (max-width: 576px) {
	.chatbox-message-wrapper {
		width: calc(100vw - 2rem);
	}
	.chatbox-wrapper {
		bottom: 1rem;
		right: 3rem;
	}
}
