.btn,
.form-control {
  border-radius: 0;
}

.ui-bg-grey {
  background-color: #0001;
}

.ui-bg-grey:hover {
  background-color: #0003;
}

#sidebarLinks .accordion-button:not(.collapse),
#navLinks .accordion-button:not(.collapse) {
  box-shadow: none;
}
#sidebarLinks .accordion-button:not(.collapsed),
#navLinks .accordion-button:not(.collapsed) {
  background-color: #212529;
  color: white;
}
.adminTableImg {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.error {
  color: rgb(161, 0, 0);
}
.page-link {
  background-color: white !important;
  color:  #212529 !important;
  border:none;
} 
.active > .page-link {
  background-color: #212529 !important;
  color: white !important;
  border:none;
}

.pagination{
  --bs-pagination-focus-box-shadow: none;
}
.dt-paging-button{
  border:1px solid #0003;
} 

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm2.5 7.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1'/%3E%3C/svg%3E");
}
#adminDataTable{
  min-height: 400px;
}
#adminDataTable th, #adminDataTable td{
    white-space:nowrap;
}

#adminDataTable_wrapper .row .col-12{
  overflow-x:scroll;
}

.dt-search input:focus,
#adminForm input:focus, 
#adminForm select:focus, 
#adminForm textarea:focus{
  box-shadow: none !important;
  border-color: #0005;
}

div.dt-processing>div:last-child>div {
	background:black;
}

.toggleStatusButtons{
  width:100%;
  margin:auto;
}
.adminTableImg{
  width: 60px;
  object-fit: contain;
}

.MultiFile-title{
  display: none;
}
.MultiFile-remove{
  color: black;
  text-decoration: none;
  font-size: larger;
}


/**************************************************************************************
customer page buttons
**************************************************************************************/

.link-blue{
  color: #318CE7;
}
.dropdown-sort .dropdown-item:hover{
  color: white;
}
.btn-blue{
  background:linear-gradient(to top left, #8fbfef, #2178cf);
  color: white;
  border-radius: 0;
  text-transform: uppercase;
  border: 1px solid #318CE7;
  text-decoration: none;
}
.btn-blue:hover{
  border: 1px solid #1c66b1;
  background-color: #1c66b1;
  color: white;
}
.btn-outline-blue{
  text-decoration: none;
  background-color: #FFF;
  color: #318CE7;
  border-radius: 0;
  border: 1px solid #318CE7;
  text-transform: uppercase;
  transition: background 0.5s, color 0.5s;
}
.btn-outline-blue:hover{
  background:linear-gradient(to top left, #6baae8, #2178cf);
  border: 1px solid #318CE7;
  color: white;
}


/**************************************************************************************
products (product list) page 
**************************************************************************************/
.mb-30 {
  margin-bottom: 30px;
}

.product-item {
  transition: .5s;
}

.product-action {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}

.product-action a.btn {
  position: relative;
  margin: 0 3px;
  margin-top: 100px;
  opacity: 0;
}

.product-item:hover {
  box-shadow: 0 0 30px #DDDDDD;
}

.product-item:hover .product-action {
  background: rgba(255, 255, 255, 0.7);
}

.product-item:hover .product-action a.btn:first-child {
  opacity: 1;
  margin-top: 0;
  transition: .3s 0s;
}

.product-item:hover .product-action a.btn:nth-child(2) {
  opacity: 1;
  margin-top: 0;
  transition: .3s .05s;
}

.product-item:hover .product-action a.btn:nth-child(3) {
  opacity: 1;
  margin-top: 0;
  transition: .3s .1s;
}

.product-item:hover .product-action a.btn:nth-child(4) {
  opacity: 1;
  margin-top: 0;
  transition: .3s .15s;
}

.product-item .product-img img {
  transition: .5s;
}

.product-item:hover .product-img img {
  transform: scale(1.2);
}

.custom-control {
  position: relative;
  z-index: 1;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
}

.custom-control-input {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 1rem;
  height: 1.25rem;
  opacity: 1;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #2178cf;
  background: linear-gradient(to top left, #8fbfef, #2178cf);
}

.custom-control-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
}