.btn,
.form-control {
  border-radius: 0;
}

.ui-bg-grey {
  background-color: #0001;
}

.ui-bg-grey:hover {
  background-color: #0003;
}

#sidebarLinks .accordion-button:not(.collapse),
#navLinks .accordion-button:not(.collapse){
    box-shadow:none;
}
#sidebarLinks .accordion-button:not(.collapsed),
#navLinks .accordion-button:not(.collapsed){
    background-color:transparent;
    color:#339999;
}
.adminTableImg{
    height:50px;
    width:50px;
    object-fit:contain;
}