<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Homepage{% endblock %}</title>

    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scrollbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toastr.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sujit.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/subhasis.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pawan.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/arif.css') }}">
    <!-- Owl carousel css -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />

    <!-- js -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/toastr.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.MultiFile.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg sticky-top " id="nav">
        <div class="container-fluid" id="navContent">
            <a class="navbar-brand" href="{{ url_for('home.index') }}"><img class="companyLogo"
                    src="{{ url_for('static', filename='img/companyLogo.png') }}" alt="Logo"></a>
            <button class="navbar-toggler bg-white" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#NavBarForSagarservice" aria-controls="NavBarForSagarservice" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse ">
                <ul class="navbar-nav stroke ms-auto">
                    <li class="nav-item navtext">
                        <a class="nav-link " aria-current="page" href="{{ url_for('home.index') }}">Home</a>
                    </li>
                    <li class="nav-item navtext">
                        <a class="nav-link " href="{{ url_for('product.products_page') }}">Products</a>
                    </li>
                    <li class="nav-item navtext">
                        <a class="nav-link " href="#service-section">Services</a>
                    </li>

                    <li class="nav-item navtext">
                        <a class="nav-link " href="{# url_for('categories.get_categories') #}">Category</a>
                    </li>

                    <li class="nav-item navtext">
                        <a class="nav-link " href="{{ url_for('about_us.about_us_page') }}">About</a>
                    </li>
                    <li class="nav-item navtext">
                        <a class="nav-link" href="{{ url_for('contact_bp.contact_us_page') }}">Contact</a>
                    </li>
                </ul>


                <div class="navbar-nav ms-auto px-1">
                    <div class="Navbardropdown-container">
                        <img src="../../static/img/AVTAR.jpg" style="object-fit: contain;" class="nav-item"
                            height="50px" alt="Login">
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('user.my_profile_page') }}">My Profile</a>
                            </li>
                            <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Log Out</a></li>
                        </ul>
                    </div>
                </div>

                <ul class="navbar-nav ">
                    <li class="nav-item navtext">
                        <a class="nav-link " aria-current="page" href="{{ url_for('cart.cart_page') }}"><i class="bi bi-cart4"></i></a>
                    </li>
                    <li class="nav-item navtext">
                        <a class="nav-link " href="{{ url_for('wishlist.wishlist_page') }}"><i class="bi bi-heart"></i></a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <div class="offcanvas offcanvas-start ps-5 d-lg-none" data-bs-scroll="true" tabindex="-1" id="NavBarForSagarservice"
        aria-labelledby="sidebarBarLabel">
        <div class="offcanvas-header">
            <a class="navbar-brand" href="{{ url_for('home.index') }}"><img class="companyLogo"
                    src="{{ url_for('static', filename='img/companyLogo.png') }}" alt="Logo"></a>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body pt-0">
            <ul class="navbar-nav stroke ms-auto">
                <li class="nav-item navtext">
                    <a class="nav-link " aria-current="page" href="{{ url_for('home.index') }}"><i
                            class="bi bi-house-door-fill me-2 fs-5"></i>Home</a>
                </li>
                <li class="nav-item navtext">
                    <a class="nav-link " href="{{ url_for('product.products_page') }}"><i
                            class="bi bi-cpu me-2 fs-5"></i>Products</a>
                </li>
                <li class="nav-item navtext">
                    <a class="nav-link " href="#service-section"><i
                            class="bi bi-gear-wide-connected me-2 fs-5"></i>Services</a>
                </li>
                <li class="nav-item navtext">
                    <a class="nav-link " href="#Category"><i class="bi bi-diagram-3 fs-6 me-2"></i>Category</a>
                </li>

                <li class="nav-item navtext">
                    <a class="nav-link " href="#About"><i class="bi bi-x-diamond-fill me-2 fs-6"></i>About</a>
                </li>
                <li class="nav-item navtext">
                    <a class="nav-link" href="#contact"><i class="bi bi-telephone-inbound me-2 fs-6"></i>Contact</a>
                </li>
            </ul>
            <div class="navbar-nav ms-auto px-1">
                <div class="Navbardropdown-container" onclick="toggleDropdown(this)">
                    <img src="../../static/img/AVTAR.jpg" style="object-fit: contain;" class="nav-item" height="50px"
                        alt="Login">
                    <ul class="dropdown-menu px-0">
                        <li><a class="dropdown-item px-0" href="{{ url_for('user.my_profile_page') }}">My Profile</a>
                        </li>
                        <li><a class="dropdown-item px-0" href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    </ul>
                </div>
            </div>
            <ul class="navbar-nav bottomNavItems">
                <li class="nav-item navtext">
                    <a class="nav-link" href="{{ url_for('cart.cart_page') }}"><i class="bi bi-cart4 me-2 fs-5"></i>Cart</a>
                </li>
                <li class="nav-item navtext">
                    <a class="nav-link" href="{{ url_for('wishlist.wishlist_page') }}"><i class="bi bi-heart  me-2 fs-5"></i>WishList</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Navbar End -->

    <div class="container-fluid" style="min-height: 600px;">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer section -->
    <footer id="footer" class="pt-4 pb-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 col-sm-6 footer-contact mb-3 col-12 ">
                    <h3>Sagar Services</h3>
                    <p>
                        Sagar Services | DurgaBari, Cooch Behar–736172
                        <br><br>
                        <strong>Phone:</strong> +91 7362264320, +91 7361564320<br>
                        <strong>Email:</strong> sagar@services.com<br>
                    </p>
                </div>
                <div class="col-md-3 col-lg-2 col-sm-6 col-6 footer-links mb-3">
                    <h5><strong>Information</strong></h5>
                    <ul class="change-text px-2">
                        <li><i class="bi bi-caret-right"></i> <a href="#">Discounts</a></li>
                        <li><i class="bi bi-caret-right"></i> <a href="#AboutSection">Brands</a></li>
                        <li><i class="bi bi-caret-right"></i> <a href="#ServiceSection">FAQ</a></li>
                        <li><i class="bi bi-caret-right"></i> <a href="#">Products Types</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-lg-2 col-sm-6 col-6 footer-links mb-3">
                    <h5><strong>My Account</strong></h5>
                    <ul class="change-text px-2">
                        <li><i class="bi bi-caret-right"></i> <a href="#">My Account</a></li>
                        <li><i class="bi bi-caret-right"></i> <a href="#">Track Order</a></li>
                        <li><i class="bi bi-caret-right"></i> <a href="#">Wish List</a></li>
                        <li><i class="bi bi-caret-right"></i> <a href="#">Order History</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-lg-2 col-sm-6 col-6 footer-links mb-3">
                    <h5><strong>Useful Links</strong></h5>
                    <ul class="change-text px-2">
                        <li><i class="bi bi-caret-right"></i> <a href="#">Home</a></li>
                        <li><i class="bi bi-caret-right"></i> <a href="#">About us</a></li>
                        <li><i class="bi bi-caret-right"></i> <a href="#">Products</a></li>
                        <li><i class="bi bi-caret-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-lg-2 col-sm-6 col-6 footer-links mb-3">
                    <h5><strong>Our Services</strong></h5>
                    <ul class="change-text">
                        <li><i class="bi bi-caret-right"></i> <a href="#">Assemble Computer</a></li>
                        <li><i class="bi bi-caret-right"></i> <a href="#">Order Products</a></li>
                        <li><i class="bi bi-caret-right"></i> <a href="#">Repair Products</a></li>
                        <li><i class="bi bi-caret-right"></i> <a href="#">Exchange Products</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container pb-4 pt-2">
            <div class="social-links text-center pt-md-0">
                <a href="#" class="twitter social-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter"
                    data-bs-custom-class="custom-tooltip"><i class="bi bi-twitter-x"></i></a>
                <a href="#" class="facebook social-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Facebook" data-bs-custom-class="custom-tooltip"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instragram social-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Instargaam" data-bs-custom-class="custom-tooltip"><i class="bi bi-instagram"></i></a>
                <a href="#" class="email social-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Email"
                    data-bs-custom-class="custom-tooltip"><i class="bi bi-envelope-paper"></i></a>

            </div>
            <div class="text-center pt-2">
                <div class="copyright">
                    &copy; Copyright <strong><span>Sagar Services</span></strong>. All Rights Reserved
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer section -->

    <!-- ScrollButton -->
    <div onclick="scrollToTop()" id="scrollDiv">
        <span class="material-symbols-outlined" id="scrollButton"><i class="bi bi-caret-up"></i></i></span>
    </div>
    <!-- ScrollButton End -->


    <script src="{{ url_for('static', filename='js/sujit.js') }}"></script>
    <script src="{{ url_for('static', filename='js/subhasis.js') }}"></script>


</body>

</html>