{% extends 'customer/base.html' %}

{% block title %}Booking{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
        <div class="card my-2 px-0 rounded-0">
            <div class="card-header">
                <h5 class="text-center my-1">Booking Details</h5>
            </div>
            <div class="card-body py-0 w-100">
                <div class="row" style="min-height: 200px;">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <table class="table my-1 w-100">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Service</th>
                                            <th>Total Amount</th>
                                            <th>Payment</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><img src="{{ url_for('static', filename=service.service_img_urls[0])  }}" alt="" class="adminTableImg"></td>
                                            <td>{{ service.service_name }}</td>
                                            <td>₹{{ booking.total_charges }}/-</td>
                                            <td>{{payment_method}}/{{payment_status}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                {% if booking.booking_details %}
                                <div class="row p-1 shadow-sm">
                                    <p class="fw-bold">Details</p>
                                    {{booking.booking_details}}
                                </div>
                                {% endif %}
                                <div class="row border p-1 shadow-sm">
                                    <div class="col-6">
                                        <p class="fw-bold">Service Location :</p>
                                        <p>{{ user.first_name +" "+ user.last_name }}, {{booking.mobile}}</p>
                                        <p>{{ booking.service_location }}, {{ booking.area_pincode }}</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="fw-bold">Billing Information :</p>
                                        <p>{{ user.first_name +" "+ user.last_name }}, {{user.mobile}}</p>
                                        <p>{{ user.email }}</p>
                                        <p>{{
                                            [
                                                user.landmark,
                                                user.address_line,
                                                user.city,
                                                user.state,
                                                user.street
                                            ] | select('defined')  | select('ne', '') | select('ne', None)
                                            | join(', ')
                                        }},{{user.pincode}}</p>
                                    </div>
                                </div>
                                <div class="progress-wrapper mt-4 py-0">
                                   <ol class="ProgressBar">
                                     <li class="ProgressBar-step">
                                       <svg class="ProgressBar-icon"><use xlink:href="#checkmark-bold"/></svg>
                                       <span class="ProgressBar-stepLabel d-flex flex-column"><span>BOOKED</span><span class="date_0"></span></span>
                                     </li>
                                     <li class="ProgressBar-step">
                                       <svg class="ProgressBar-icon"><use xlink:href="#checkmark-bold"/></svg>
                                       <span class="ProgressBar-stepLabel d-flex flex-column"><span>ON THE WAY</span><span class="date_1"></span></span>

                                     </li>
                                     <li class="ProgressBar-step">
                                       <svg class="ProgressBar-icon"><use xlink:href="#checkmark-bold"/></svg>
                                       <span class="ProgressBar-stepLabel d-flex flex-column"><span>PROVIDED</span><span class="date_2"></span></span>
                                     </li>
                                   </ol>
                                </div>
                                   <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
                                     <symbol id="checkmark-bold" viewBox="0 0 24 24">
                                       <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                                     </symbol>
                                   </svg>
                            </div>
                            <p id="cancelled_text" class="text-danger text-end d-none"><i class="bi bi-exclamation-triangle"></i> Booking Canceled</p>
                            <button id="invoice" class="btn btn-outline-blue d-none">Invoice</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<script>
  var progressDataString = '{{ booking_logs | tojson }}'
  var progressData = JSON.parse(progressDataString);
  function updateProgressBar() {
    var $bar = $(".ProgressBar");
    $bar.children().removeClass("is-current is-complete");
    // if (progressData[progressData.length - 1].status_name === 'DELIVERED') {
    //     $("#invoice").removeClass("d-none")
    //   }
    if (progressData.length > 0 && progressData[progressData.length - 1].status_name === 'CANCELLED') {
        $bar.children().removeClass("is-current is-complete");
        $("#cancelled_text").removeClass("d-none")
      }
      else{
          progressData.forEach(function(step, index) {
              $(".date_"+index).text(getFormattedDate(step.created_at))
            
            var $step = $bar.children().eq(index);
            $step.addClass("is-complete");
            
            if (index === progressData.length - 1) {
              $step.addClass("is-current");
            }

          });
      }
  }

$(document).ready(function() {
  updateProgressBar();
});

</script>

{% endblock %}
