{% extends 'customer/base.html' %}

{% block title %}Checkout{% endblock %}

{% block content %}

<div class="container-fluid row row d-flex justify-content-start mt-5">
  <div class="col-lg-5 col-md-5 d-none d-md-block">
    <img src="../../static/img/gif.gif" alt="" class="checkout-img" style="opacity: 0.3; object-fit: contain;">
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12" >
  <form class="accordion shadow-sm rounded-0 adminForm" id="accordionPanelsStayOpenExample" method="POST" action="{{url_for('checkout.confirm')}}">
      <div class="accordion-item rounded-0">
        <h2 class="accordion-header rounded-0">
          <button type="button" class="accordion-button accordion-button1 rounded-0" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            <i class="bi bi-check-circle check1" style="display: none;"></i> &nbsp; Order Summary
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionPanelsStayOpenExample">
          <div class="accordion-body p-1 rounded-0">
            <table class="table table-responsive table-bordered table-hover">
                <tbody>
                    <script>
                        var total_price=0;
                    </script>
                    {% for product in products %}
                    <tr id="product_row_{{product.id}}">
                        <td class="d-none product_id">{{product.id}}</td>
                        <td><img src="{{ url_for('static', filename=product.product_img_urls[0]) }}" class="product-img" alt="Product Image" height="67px" width="67px"></td>
                        <td class="text-primary">{{ product.product_name }}</td>
                        <td>₹ <span id="price_{{product.id}}">{{ product.price - product.discount }}</span>/-</td>
                        <script>
                            var total_price=total_price+Number("{{product.price - product.discount }}");
                        </script>
                        <td>
                            <select class="form-select qty-selector" id="qty_{{ product.id }}" onchange="updateQuantity('{{ product.id }}')">
                                <option value="" disabled selected>---</option>
                                <option value="{{ product.id }}_1">1</option>
                                <option value="{{ product.id }}_2">2</option>
                                <option value="{{ product.id }}_3">3</option>
                            </select>
                        </td>
                        <td>₹ <span id="sub_total_price_{{product.id}}" class="sub_total_price">{{ product.price - product.discount }}</span>/-</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot class="">
                    <tr>
                        <td colspan="4">Delivery Charge</td>
                        <td>₹ 50/-</td>
                    </tr>
                    <tr>
                        <td colspan="4"><strong>Total Price</strong></td>
                        <td>₹ <span id="total_price"></span> /-</td>
                    </tr>
                </tfoot>
            </table>
            <script>
                $("#total_price").text(total_price+50)
            </script>
          

          <div class="container text-center">
            <p><input type="checkbox" name="have_coupon" id="have_coupon"> <label for="have_coupon">I have a Coupon Code</label></p>
          </div>
          
          <div id="check_have_coupon" style="display: none;">
          <div class="container d-flex justify-content-center">
          <div class="input-group mt-3 w-50">
            <input type="text" class="form-control w-25 rounded-0" id="coupon_code" name="coupon_code" placeholder="Enter Coupon Code" aria-label="Enter Coupon Code " aria-describedby="button-addon2"> 
             <button type="button" class="btn btn-outline-blue rounded-0" id="button-addon2">Submit</button>
          </div>
          </div>
          <div class="text-center me-5 d-none" id="invalid-coupon-text"><small>Invalied Coupon Code</small></div>

            <div class="separation-line mt-3"></div>
            <div class="total-section flex-between flex-vertical-center d-none" id="coupon-success-section">
              <div class="flex-fill flex-vertical">
                <div class="text-center"><h6 class="text-dark">Congratulations ! The coupon has been successfully applied.</h6></div>
                <div class="total-label f-secondary-color text-center">Now You have to Pay</div>
                <div class="text-center">
                  <strong>₹ <span id="coupon-discount"></span>.00 /-</strong>
                </div>
              </div>
              <i class="ai-coin size-lg"></i>
            </div>
          </div>

          <div class="d-flex justify-content-end mt-3">
              <button type="button" class="btn first-btn m-3 btn-blue">Next</button>
          </div>
          
          </div>

        </div>
      </div>

 

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button type="button" class="accordion-button collapsed accordion-button2" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            <i class="bi bi-check-circle check2" style="display: none;"></i> &nbsp; Shipping Address
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionPanelsStayOpenExample">
          <div class="accordion-body">
            <div class="user border shadow-sm p-3 bg-body-tertiary">
              <strong class="pe-1">Name:</strong> {{user.first_name + " "+user.last_name}}
              <br><strong class="pe-1">Email:</strong> {{user.email}}
              <br><strong class="pe-1">Address:</strong> {{
                [
                    user.landmark,
                    user.address_line,
                    user.city,
                    user.state,
                    user.street
                ] | select('defined')  | select('ne', '') | select('ne', None)
                | join(', ')
            }}
              <br><strong class="pe-1">Pincode:</strong> <span id="prev_pincode">{% if user.pincode %}{{user.pincode}}{% endif %}</span>
              <br><strong class="pe-1">Contact No:</strong> {{user.mobile}}
            </div>
              <br>
              {% if user.pincode==None %}
              <strong class="ps-5 d-none">
                <input type="checkbox" name="new-address" id="addressCheckbox" checked>
                <label for="addressCheckbox">Ship To New Address</label>
              </strong>
              <p class="text-danger">Your address is insufficient, please provide your address</p>
                {% else %}
                <strong class="ps-5">
                    <input type="checkbox" name="new-address" id="addressCheckbox">
                    <label for="addressCheckbox">Ship To New Address</label>
                </strong>
                {% endif %}
              <div class=" justify-content-end" id="user-addr-btn" style="display: flex;">
                <button type="button" class="btn second-btn m-3 btn-blue">Next</button>
             </div>
              <div id="newAddressForm" class="mt-3 border shadow-sm p-3 bg-body-tertiary d-none">
                <h5 class="pb-3 text-center"><strong>Enter New Address</strong></h5>
                <div class="row">
                    <div class="col-6 mb-3">
                        <label for="MobleNo" class="form-label">Mobile No.</label>
                        <input type="text" class="form-control" id="MobleNo" name="MobileNo" placeholder="Enter Mobile No">
                    </div>
                    <div class="col-6 mb-3">
                        <label for="StreetAddress" class="form-label">Street Address</label>
                        <input type="text" class="form-control" id="StreetAddress" name="StreetAddress" placeholder="Flat/House No./Floor/Building/Street">
                    </div>
                    <div class="col-6 mb-3">
                        <label for="Landmark" class="form-label">Landmark</label>
                        <input type="text" class="form-control" id="Landmark" name="Landmark" placeholder="Enter Landmark Here">
                    </div>
                    <div class="col-6 mb-3">
                        <label for="AdditionalAddress" class="form-label">Additional Address</label>
                        <input type="text" class="form-control" id="AdditionalAddress" name="Additional Address" placeholder="colony/Locality">
                    </div>
                    <div class="col-6 mb-3">
                        <label for="City" class="form-label">City</label>
                        <input type="text" class="form-control" id="City" name="City" placeholder="Enter City/Village Name Here">
                    </div>
                    <div class="col-6 mb-3">
                        <label for="State" class="form-label">State</label>
                        <input type="text" class="form-control" id="State" name="State" placeholder="Enter State Here">
                    </div>
                    <div class="col-6 mb-3">
                        <label for="PinCode" class="form-label">Pin Code</label>
                        <input type="text" class="form-control" id="PinCode" name="PinCode" placeholder="Enter 6 Digit Pin Code">
                    </div>
                  </div>
                  
                </div>
                  <div class="d-flex justify-content-end">
                      <button type="button" class="btn m-3 second-btn-2 btn-blue" id="check_address">Next</button>
                   </div>
                   
                </div>
            </div>
        </div>
        <div class="accordion-item rounded-0 mb-5">
          <h2 class="accordion-header rounded-0">
            <button type="button" class="accordion-button collapsed accordion-button3 rounded-0" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              <i class="bi bi-check-circle check3" style="display: none;"></i> &nbsp; Payment Method
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionPanelsStayOpenExample">
            <div class="accordion-body rounded-0">
              <strong>Please select the preferred payment method to use on this order.</strong> 
              <br>
              <div>
                <input type="radio" value="1" name="pay-method" id="COD" required><label for="COD"> &nbsp; Payment by COD</label>
              </div>
              <div>
                <input type="radio" value="2" name="pay-method" id="Online" disabled><label for="Online"> &nbsp; Payment by UPI/Wallet/Debit & Credit Card</label> (Currently This feature is Not Available)
              </div>
              <div>

              </div>
             <div class="d-flex justify-content-end">
              <button type="submit" class="btn m-3 third-btn btn-blue" id="place_order">PLACE ORDER</button>
             </div>
            </div>
          </div>
        </div>
      </div>


      <div id="pincode_available_messages">
                        
      </div>
      
  </form>
  </div>
</div>
<script>

  $(document).ready(()=> {
    var nextButton2copy = document.querySelector('.second-btn-2');
    var nextButton2 = document.querySelector('.second-btn');
    // $("#place_order").attr("disabled",true)
    function update_availability(){
      $("#pincode_available_messages").html("")
      var products = [];
      var pincode = $("#prev_pincode").text()
      console.log(pincode)
      // Select all elements with class name "product_id"
      if(pincode!='' && pincode!= 'None'){
      
        var productElements = document.querySelectorAll(".product_id");
        productElements.forEach(function(productElement) {
          products.push(productElement.textContent.trim()); // Trim to remove any leading or trailing whitespace
        });
        // Iterate through the selected elements and push their text content into the products array
        products.forEach(function(productId) {
            // Make an AJAX call for each product
            $.ajax({
                url: "{{url_for('product.check_area_availability')}}", // Replace 'your_api_endpoint' with your actual API endpoint
                method: 'POST', // or 'GET', depending on your API requirements
                dataType: "json",
                data: {
                    "product_id": productId,
                    "pincode": pincode // Assuming pincode is constant, you can replace it with a variable if needed
                },
                complete: (res) => {
                    res.then(data => {
                        if(!data.is_available){
                          $("#product_row_"+productId).addClass('text-decoration-line-through text-danger')
                          $("#pincode_available_messages").append(`<p class="text-danger">NOTE: ${data.message}, please remove this from product from cart</p>`)
                          $("#place_order").attr("disabled",true)
                        }
                        else{

                          $("#product_row_"+productId).removeClass('text-decoration-line-through text-danger')
                        }
                    });
                  }
                });
              });
            
            }


    }

    // // Check the initial state of the checkbox
    if ($("#addressCheckbox").prop("checked")) {
      update_availability()
      $("accordionPanelsStayOpenExample").addClass("adminForm")
      $("input[type='text']:not(#coupon_code)").prop("required",true);
      $("#newAddressForm").removeClass("d-none")
      nextButton2copy.style.display='block'
      nextButton2.style.display='none'

    } 
    else {
      update_availability();
      $("accordionPanelsStayOpenExample").removeClass("adminForm")
        $("#newAddressForm").addClass("d-none")
        $("input[type='text']:not(#coupon_code)").prop("required",false);
        $("#newAddressForm").addClass("d-none");
        nextButton2copy.style.display='none'
        nextButton2.style.display='block'
        // Do something when the checkbox is initially unchecked
    }
    
    // Add an event listener for the 'change' event
    $("#addressCheckbox").on("change", function() {
        // Check if the checkbox is checked
        if ($("#addressCheckbox").prop("checked")) {
          $("input[type='text']:not(#coupon_code)").prop("required",true);
            $("#newAddressForm").removeClass("d-none")
        nextButton2copy.style.display='block'
        nextButton2.style.display='none'
        $("accordionPanelsStayOpenExample").addClass("adminForm")

            // Do something when the checkbox is checked
        } 
        else {
          update_availability();
          $("input[type='text']:not(#coupon_code)").prop("required",false);
            console.log("Checkbox is  unchecked");
            $("#newAddressForm").addClass("d-none")
            nextButton2copy.style.display='none'
            nextButton2.style.display='block'
            $("accordionPanelsStayOpenExample").removeClass("adminForm")


            // Do something when the checkbox is unchecked
        }
    });

    $("#button-addon2").on("click",function(){
        var coupon_code=$("#coupon_code").val()
        $.ajax({
        url:"{{url_for('checkout.check_coupon')}}",
        type:"POST",
        dataType:"json",
        data:{
          "coupon_code":coupon_code
        },
        complete: (res) => {
          res.then(coupon => {
            if(coupon.status=="success"){
                var total_price=Number($("#total_price").text());
                if (coupon.discount_type==2){
                    $("#coupon-discount").text(total_price-((total_price*coupon.discount)/100))
                }
                else if(coupon.type==1){
                    // $("#total_price").text(total_price-coupon.discount)
                    $("#coupon-discount").text(total_price-coupon.discount)
                }
                $("#coupon-success-section").removeClass("d-none")
                $("#invalid-coupon-text").addClass("d-none")
            }
            else{
                $("#coupon-success-section").addClass("d-none")
                $("#invalid-coupon-text").removeClass("d-none")
            }
        })
      }})
    })

    function update(product_id,qty){
      $.ajax({
        url:"{{url_for('checkout.update_quantity')}}",
        type:"POST",
        dataType:"json",
        data:{
          "product_id":product_id,
          "qty":qty
        },
        complete: (res) => {
          res.then(data => {
            var total_price=0;
            $("#sub_total_price_"+product_id).text(Number(qty) * Number($("#price_"+product_id).text()))
            $(".sub_total_price").each(function() {
                total_price+=Number($(this).text())
            })
            $("#total_price").text(total_price+50)
        })
      }})
    }

    window.updateQuantity=function(product_id){
      qty=$("#qty_"+product_id).val()
      var [product_id, qty] = qty.split("_").map(Number);
      if(qty != null && qty != undefined){
        update(product_id,qty)
      }
    }


    $("#accordionPanelsStayOpenExample").submit(function(e){
        e.preventDefault();
        var isValid = true;
        $(".qty-selector").each(function() {
            if ($(this).val() == "" || $(this).val() == null || $(this).val() == undefined) {
                e.preventDefault();
                isValid = false;
                alert("Please select a quantity for all items.");
                return false;
            }
        });
        if (isValid) {
            $(this).off("submit").submit();
        }
    });
})



  // Get references to the checkbox and the new address form
  const addressCheckbox = document.getElementById('addressCheckbox');
  const newAddressForm = document.getElementById('newAddressForm');
  const userAddressForm = document.getElementById('user-addr-btn');

  // Add an event listener to the checkbox
  addressCheckbox.addEventListener('change', function() {
      // Toggle the visibility of the new address form based on the checkbox state
      newAddressForm.style.display = addressCheckbox.checked ? 'block' : 'none';
      userAddressForm.style.display = addressCheckbox.checked ? 'none' : 'flex';
  });




document.addEventListener('DOMContentLoaded', function() {
// Get references to the "Next" buttons
const nextButton1 = document.querySelector('.first-btn');
const nextButton2 = document.querySelector('.second-btn');
const nextButton2copy = document.querySelector('.second-btn-2');
const nextButton3 = document.querySelector('.third-btn');
const check1 = document.querySelector('.check1');
const check2 = document.querySelector('.check2');
const check3 = document.querySelector('.check3');
const paymentMethodRadioGroup = document.getElementsByName('pay-method');


// Get references to the accordion panels
const accordion1 = document.querySelector('#panelsStayOpen-collapseOne');
const accordion2 = document.querySelector('#panelsStayOpen-collapseTwo');
const accordion3 = document.querySelector('#panelsStayOpen-collapseThree');


const accordionButton1 = document.querySelector('.accordion-button1');
const accordionButton2 = document.querySelector('.accordion-button2');
const accordionButton3 = document.querySelector('.accordion-button3');

// Initialize the state of the second and third accordion panels as locked
let isAccordion2Locked = true;
let isAccordion3Locked = true;



// Add click event listener to the first "Next" button
nextButton1.addEventListener('click', function() {
  // Close the first accordion panel and remove active color
  accordion1.classList.remove('show');
  check1.style.display = 'block';

 
  accordionButton1.classList.add('collapsed');
  // Unlock and open the second accordion panel
  if (isAccordion2Locked) {
      isAccordion2Locked = false;
      accordionButton2.classList.remove('collapsed');
      accordion2.classList.add('show');
  }
});

// Add click event listener to the second "Next" button
nextButton2.addEventListener('click', function() {
  // Close the second accordion panel and remove active color
 
  accordion2.classList.remove('show');
  check2.style.display = 'block';
  accordionButton2.classList.add('collapsed');
  // Unlock and open the third accordion panel
  if (isAccordion3Locked) {
      isAccordion3Locked = false;
      accordionButton3.classList.remove('collapsed');
      accordion3.classList.add('show');
  }
});


nextButton2copy.addEventListener('click', function() {    
  is_Empty=validate_address();
  if(is_Empty){
    alert("Please provide New Address")
    return
  }
  // Close the second accordion panel and remove active color
  accordion2.classList.remove('show');
  check2.style.display = 'block';
  accordionButton2.classList.add('collapsed');

  // Unlock and open the third accordion panel
  if (isAccordion3Locked) {
      isAccordion3Locked = false;
      accordionButton3.classList.remove('collapsed');
      accordion3.classList.add('show');
  }
});

for (const radioButton of paymentMethodRadioGroup) {
radioButton.addEventListener('change', () => {
  check3.style.display = 'block';
});
}

// Prevent default toggling of accordion panels for locked panels
document.querySelector('#accordionPanelsStayOpenExample').addEventListener('show.bs.collapse', function(event) {
  const target = event.target;
  if ((target === accordion2 && isAccordion2Locked) || (target === accordion3 && isAccordion3Locked)) {
      // Prevent the accordion panel from opening if it is locked
      event.preventDefault();
  }
});
});




const coupon = document.getElementById('have_coupon');
const dis_coupon = document.getElementById('check_have_coupon');

coupon.addEventListener('change', function() {
dis_coupon.style.display = coupon.checked ? 'none' : 'block';
dis_coupon.style.display = coupon.checked ? 'block' : 'none';
  });


function validate_address(){
    var isEmpty = false;
    // Validate each input field except the one with ID "coupon"
    $("#accordionPanelsStayOpenExample input[type='text']:not(#coupon_code)").each(function() {
        if ($(this).val().trim() === "") {
            isEmpty = true;
        }
    });
    return isEmpty
}

  $("#PinCode").on("input",function (){
    $("#pincode_available_messages").html("")
    if($(this).val().length==6){
      var products = [];
      var pincode = $(this).val()
      // Select all elements with class name "product_id"
      var productElements = document.querySelectorAll(".product_id");
      productElements.forEach(function(productElement) {
        products.push(productElement.textContent.trim()); // Trim to remove any leading or trailing whitespace
      });
      is_valid = true
      // Iterate through the selected elements and push their text content into the products array
      products.forEach(function(productId) {
          // Make an AJAX call for each product
          $.ajax({
              url: "{{url_for('product.check_area_availability')}}", // Replace 'your_api_endpoint' with your actual API endpoint
              method: 'POST', // or 'GET', depending on your API requirements
              dataType: "json",
              data: {
                  "product_id": productId,
                  "pincode": pincode // Assuming pincode is constant, you can replace it with a variable if needed
              },
              complete: (res) => {
                  res.then(data => {

                      if(!data.is_available){
                        $("#product_row_"+productId).addClass('text-decoration-line-through text-danger')
                        $("#pincode_available_messages").append(`<p class="text-danger">NOTE: ${data.message}, please remove this from product from cart</p>`)
                        $("#place_order").attr("disabled",true)
                        is_valid = is_valid & data.is_available
                      }
                      else{
                        $("#product_row_"+productId).removeClass('text-decoration-line-through text-danger')
                        is_valid = is_valid & data.is_available
                      }

                  });
                }
          });
      });
      if (is_valid){
        $("#place_order").attr("disabled",false)
      }
    }
  })
  
  $(document).ready(function () {
        $('.adminForm').validate({
            rules: {
              MobleNo:{
                    required: true,
                    digits:true,
                    minlength:10,
                    maxlength:10
              },
              StreetAddress:{
                    required: true,
                    minlength: 10,
                    maxlength: 20
              },
              Landmark:{
                  required: true,
                    minlength: 5,
                    maxlength: 30
              },
              AdditionalAddress:{
                required: true,
                    minlength: 20,
                    maxlength: 70
              },
              City:{
                required: true,
                    minlength: 4,
                    maxlength: 30
              },
              State:{
                required: true,
                    minlength: 5,
                    maxlength: 20
              },
              PinCode:{
                required: true,
                digits:true,
                minlength:6,
                maxlength:6
              }

            },
            messages: {
              MobleNo:{
                required: "Please Provide a Phone Number",
                digits:"Phone number should be In digits",
                minlength: "Phone number should be 10 digits",
                maxlength: "Phone number should be 10 digits"

              },
              StreetAddress:{
                    required: "Please provide a street address",
                    minlength: "Street address should be 10 characters",
                    maxlength: "Street address can not cross 20 characters"
              
              },
              Landmark:{
                    required: "Please provide a landmark",
                    minlength: "Landmark should be at least 5 characters",
                    maxlength: "Landmark can not be more than 30 characters"
              
              },
              AdditionalAddress:{
                    required: "Provide an additional address",
                    minlength: "to short address",
                    maxlength: "Address can not be more than 70 characters"
              
              },
              City:{
                    required: "Provide an city",
                    minlength: "City should be at least 4 characters",
                    maxlength: "City can not be more 30 characters"
              
              },
              State:{
                    required: "Provide an State",
                    minlength: "State should be at least 5 characters",
                    maxlength: "State can not be more 20 characters"
              
              },
              PinCode:{
                    required: "Provide an PinCode",
                    digits:"Pin code should be in digits",
                    minlength:"PinCode should be 6 digits",
                    maxlength:"PinCode should be 6 digits"
              },
            },
            submitHandler: function () {
                $("place_order").attr("disabled",false)
            }
        });
    });


</script>


{% endblock %}