{% extends 'customer/base.html' %}

{% block title %}My Bookings{% endblock %}

{% block content %}
<style>
    .dot-success{
        color: green;
        background-color: green;
    }
    .track-line-success{
        color: green;
        background-color: green;
    }
</style>
<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('home.index') }}"><i class="bi bi-house"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page">My Bookings</li>
        </ol>
    </nav>
    <div class="d-none d-flex align-items-center justify-content-center" id="empty-cart-container">
        <img src="{{url_for('static',filename='img/empty-list.png')}}" alt="" class="">
      </div>
    <div class="row" id="order_list">
    </div>
    <div class="row" id="pagination-container">
        <div class="col-12">
            <nav>
              <ul class="pagination justify-content-center" id="pagination_controls">
                <!-- pagination  -->
              </ul>
            </nav>
        </div>
    </div>
</div>
<script>
$(document).ready(function () {

    window.cancelOrder = function(booking_id){
        // use swal
        window.location.href=`/booking/cancel/${booking_id}`
    }

    window.fetchPaginatedBookings = function (page) {
        $.ajax({
            url: "{{ url_for('booking.bookings_page_data') }}",
            type: "GET",
            data: {
                page: page, 
                page_size: 10
            },
            success: function (response) {
                if(response.data.length<1){
                    $("#order_list").css("display","none")
                    $("#empty-cart-container").removeClass("d-none")
                    $("#pagination-container").css("display","none")
                }
                else{
                    $("#order_list").css("display","block")
                    $("#pagination-container").css("display","block")
                    $("#empty-cart-container").addClass("d-none")
                    renderBookings(response.data);
                    renderPaginationControls(response);
                }
            },
            error: function (xhr, status, error) {
                console.error('Error fetching booking details:', error);
            }
        });
    };
    function renderBookings(bookings) {
    var bookingContainer = $('#order_list');
    bookingContainer.empty();
    if(bookings){
        bookings.forEach(function(booking) {
            var booking_log = booking.booking_latest_log;
            var bookingDiv = $('<div class="col-12">');

            // Construct the HTML for the booking
            var bookingHTML = `
                <div class="col-12 border m-2">      
                    <div class="card rounded-0 shadow-sm">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 flex">
                                    <img class="align-self-center img-fluid w-100" src="../../static/${booking.service_img_urls[0]}" style="object-fit:contain; max-height:200px;">
                                </div>
                                <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                                    <h5 class="bold">${booking.service_name}</h5>
                                    <p class="text-muted"> ${booking.service_location}</p>
                                    <p class="text-muted">${booking_log.status_name}:${getFormattedDate(booking_log.created_at)}</p>
                                    <h4 class="mb-3"> 
                                        <i class="bi bi-currency-rupee"></i>
                                        ${booking.total_charges}/-`;
                                        if(booking_log.status<5){
                                            bookingHTML +=`<span class="small text-muted">(${booking.payment_method_name})/${booking.payment_status_name} </span></h4>`;
                                    }
                                
                                    bookingHTML += `</div>
                            </div>
                            <div class="d-flex flex-row justify-content-between align-items-center">`;
           

            
            
            bookingHTML +=`
                <div class="d-flex flex-column justify-content-end">
                    <a href="/booking_details/${booking.id}" class="btn btn-blue mb-1">View Details</a>`;
                    
                    if(booking_log.status>4){
                        bookingHTML += `
                        <a href="/checkout/${booking.service_id}" class="btn btn-outline-blue">Order Again</a>`;
                    }
                    
            bookingHTML += `
                </div>`;
            if(booking_log.status<2){
                bookingHTML += `
                <p class="text-danger" style="cursor:pointer;" onclick="cancelOrder(${booking.id})">Cancel</p>`;
            }
            if(booking_log.status==4){
                bookingHTML += `<p href="" class="text-danger text-end"><i class="bi bi-exclamation-triangle"></i> Booking Canceled</p>`;
            }
            if(booking_log.status==3){
                bookingHTML += `<p href="" class="text-success text-end"><i class="bi bi-check2-all"></i> Provided</p>`;
            }
            
            bookingHTML +=`
                </div>   
                </div>
                </div>
            `;

            // Append the booking HTML to the booking div
            bookingDiv.html(bookingHTML);

            // Append the booking div to the bookings container
            bookingContainer.append(bookingDiv);
        })  
    }
};

    function renderPaginationControls(metadata) {
        var paginationControls = $('#pagination_controls');
        paginationControls.empty();

        var totalPages = metadata.total_pages;

        for (var i = 1; i <= totalPages; i++) {
            var pageLink = `<li class="page-item ${i === metadata.page ? 'active' : ''}"><a class="btn-outline-blue px-2 py-1 rounded-0" href="#" onclick="fetchPaginatedBookings(${i})">${i}</a></li>`;
            paginationControls.append(pageLink);
        }
    }

    fetchPaginatedBookings(1);
    

});
</script>
{% endblock %}