{% extends 'customer/base.html' %}

{% block title %}My Orders{% endblock %}

{% block content %}

<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('home.index') }}"><i class="bi bi-house"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page">My Orders</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col">      
            <div >
                <table class="table table-bordered">
                    <thead class="table table-dark table-sm">          
                        <tr>
                            <td>Image</td>
                            <td>Product</td>
                            <td>Quantity</td>               
                            <td>Shipping Address</td>
                            <td>Total</td>
                            <td>Payment Status</td>
                            <td>Order Status</td>
                        </tr>
                    </thead>
                    <tbody id="order_list">
                        
                    </tbody>
                </table>
            </div>       
        </div>   
    </div>
</div>
<script>
    $(document).ready(function () {
        window.fetchPaginatedOrders = function (page) {
            $.ajax({
                url: "{{ url_for('order.orders_page_data') }}",
                type: "GET",
                data: {
                    page: page, 
                    page_size: 30
                },
                success: function (response) {
                    console.log(response)
                    renderOrders(response);
                    renderPaginationControls(response);
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching order details:', error);
                }
            });
        };
        function renderOrders(orders) {
                var orderContainer = $('#order_list');
                orderContainer.empty();
                console.log(orders)
                if(orders){
                    orders.data.forEach(function(order) {
                    // Iterate through each order in the response
                        // Create a new div element to hold the order information
                        var orderDiv = $('<tr>');
                        
                        // Construct the HTML for the order
                        var orderHTML = `
                                <td>
                                    <img class="img-fluid w-lg-100 w-md-60 w-sm-50" src="../../static/${order.product_img_urls[0]}" alt="">
                                </td>
                                <td>
                                    ${order.product_name}     
                                </td>
                                <td>
                                    ${order.quantity}     
                                </td>
                                <td>
                                    ${order.shipping_address}     
                                </td>
                                <td>
                                    ${order.price}     
                                </td>
                                <td>
                                    ${order.payment_status}     
                                </td>
                                <td>
                                    ${order.order_status}     
                                </td>
                                </div>
                            </tr>`;
                        
                        // Append the order HTML to the order div
                        orderDiv.html(orderHTML);
                        
                        // Append the order div to the orders container
                        orderContainer.append(orderDiv);
                    });
                }
            }
        function renderPaginationControls(metadata) {
            var paginationControls = $('#pagination_controls');
            paginationControls.empty();

            var totalPages = metadata.total_pages;

            for (var i = 1; i <= totalPages; i++) {
                var pageLink = `<li class="page-item ${i === metadata.page ? 'active' : ''}"><a class="btn-outline-blue px-2 py-1 rounded-0 border-end-0" href="#" onclick="fetchPaginatedOrders(${i})">${i}</a></li>`;
                paginationControls.append(pageLink);
            }
        }

        fetchPaginatedOrders(1);
        

    });
</script>

{% endblock %}