{% extends 'customer/base.html' %}

{% block title %}My Orders{% endblock %}

{% block content %}
<style>
    .dot-success{
        color: green;
        background-color: green;
    }
    .track-line-success{
        color: green;
        background-color: green;
    }
</style>
<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('home.index') }}"><i class="bi bi-house"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page">My Orders</li>
        </ol>
    </nav>
    <div class="row" id="order_list">
    </div>
    <div class="row">
        <div class="col-12">
            <nav>
              <ul class="pagination justify-content-center" id="pagination_controls">
                <!-- pagination  -->
              </ul>
            </nav>
        </div>
    </div>
</div>
<script>
$(document).ready(function () {

    window.cancelOrder = function(order_id){
        // use swal
        console.log(order_id)
        window.location.href=`/cancel/${order_id}`
    }

    window.fetchPaginatedBookings = function (page) {
        $.ajax({
            url: "{{ url_for('order.orders_page_data') }}",
            type: "GET",
            data: {
                page: page, 
                page_size: 10
            },
            success: function (response) {
                renderBookings(response);
                renderPaginationControls(response);
            },
            error: function (xhr, status, error) {
                console.error('Error fetching booking details:', error);
            }
        });
    };
    function renderBookings(orders) {
    var bookingContainer = $('#order_list');
    bookingContainer.empty();
    if(orders){
        orders.data.forEach(function(order) {
            var order_log = order.order_latest_log;
            var bookingDiv = $('<div class="col-12">');

            // Construct the HTML for the booking
            var bookingHTML = `
                <div class="col-12 border m-2">      
                    <div class="card rounded-0 shadow-sm">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 flex">
                                    <img class="align-self-center img-fluid w-100" src="../../static/${order.product_img_urls[0]}" style="object-fit:contain; max-height:200px;">
                                </div>
                                <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                                    <h5 class="bold">${order.product_name}</h5>
                                    <p class="text-muted"> Qt: ${order.quantity} item</p>
                                    <p class="text-muted"> ${order.shipping_address}</p>
                                    <p class="text-muted">${order_log.status_name}:${order_log.created_at}</p>
                                    <p class="text-muted">${order_log.status_name}:${getFormattedDate(order_log.created_at)}</p>
                                    <h4 class="mb-3"> 
                                        <i class="bi bi-currency-rupee"></i>
                                        ${order.price}/-`;
                                        if(order_log.status<5){
                                            bookingHTML +=`<span class="small text-muted">(${order.payment_method_name})/${order.payment_status_name} </span></h4>
                                            <p class="text-muted">Expected Delivery on: <span class="text-body">${order.expected_delivery != null ? getFormattedDate(order.expected_delivery) : ''}</span></p>`;
                                    }
                                
                                    bookingHTML += `</div>
                            </div>
                            <div class="d-flex flex-row justify-content-between align-items-center">`;

            // console.log(order_log.status)
            if(order_log.status!=6){
            }
            else{
                bookingHTML += `<p href="" class="text-danger text-end"><i class="bi bi-exclamation-triangle"></i> Ordered Canceled</p>`;
            }

            
                                if(order_log.status<3){
                                    bookingHTML += `
                                    <p class="text-danger" style="cursor:pointer;" onclick="cancelOrder(${order.id})">Cancel</p>`;
                                }
            bookingHTML +=`
                                <div class="d-flex flex-column">
                                    <a href="/order_details/${order.id}" class="btn btn-blue mb-1">View Details</a>`;
                                    
                                    if(order_log.status>4){
                                        bookingHTML += `
                                        <a href="/checkout/${order.product_id}" class="btn btn-outline-blue">Order Again</a>`;
                                    }
                                    
            bookingHTML += `
                                </div>
                        </div>   
                    </div>
                </div>
            `;

            // Append the booking HTML to the booking div
            bookingDiv.html(bookingHTML);

            // Append the booking div to the bookings container
            bookingContainer.append(bookingDiv);
        })  
    }
};

    function renderPaginationControls(metadata) {
        var paginationControls = $('#pagination_controls');
        paginationControls.empty();

        var totalPages = metadata.total_pages;

        for (var i = 1; i <= totalPages; i++) {
            var pageLink = `<li class="page-item ${i === metadata.page ? 'active' : ''}"><a class="btn-outline-blue px-2 py-1 rounded-0" href="#" onclick="fetchPaginatedBookings(${i})">${i}</a></li>`;
            paginationControls.append(pageLink);
        }
    }

    fetchPaginatedBookings(1);
    

});
</script>
{% endblock %}