{% extends 'customer/base.html' %}

{% block title %}Wishlist{% endblock %}

{% block content %}

<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('home.index') }}"><i class="bi bi-house"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-6" id="wishlist-items-container">      
                  
        </div>   
    </div>
</div>

<script>
    $(document).ready(function () {
        // Function to fetch cart details
        function fetchWishlistDetails() {
            $.ajax({
                url: "{{ url_for('wishlist.wishlist_page_data') }}",
                type: "GET",
                success: function (response) {
                    // Call function to render cart details
                    renderWishlistDetails(response);
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching Wishlist details:', error);
                    // Handle error, show error message, etc.
                }
            });
        }

        // Function to render Wishlist details on the frontend
        function renderWishlistDetails(wishlistDetails) {
            var wishlistTable = $('#wishlist-items-container');

            // Clear previous content
            wishlistTable.empty();

            // Iterate over wishlist details and append to the DOM
            wishlistDetails.forEach(function (item) {
                // Append wishlist item to the wishlist table
                if(item.image.length>0){
                    product_image=item.image[0]
                }
                else{
                    product_image=null
                }
                wishlistTable.append(`
                  <div class="card border shadow-sm my-1 rounded-0 wishlist_item_${item.id}">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
                            ${product_image ? `<img src="../../static/${product_image}" alt="Product Image" class="w-100" style="object-fit: contain;">` : ''}
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-9 col-xs-9">
                          <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <p class="m-0 p-0 fs-5 fw-bold">${item.product_name}</p>
                              <p class="m-0 p-0">By <span>${item.brand}</span></p>
                              <p class="m-0 p-0">${item.stock > 0 ? '<small class="text-success">In Stock</small>' : '<small class="text-danger">Out of Stock</small>'}</p>
                              <p class="m-0 p-0">Price: <span class="fw-bold"><i class="bi bi-currency-rupee"></i><span class="cart_price_${item.id}">${(item.price-item.discount).toFixed(2)}</span></span></p>
                              <p class="m-0 p-0">You Saved: <span class="text-success"><i class="bi bi-currency-rupee"></i><span class="cart_discount_${item.id}">${item.discount.toFixed(2)}</span></span></p>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <button class="btn btn-outline-blue m-1 w-100" onclick="removeFromWishlist(${item.id})">Remove</button> 
                              <button class="btn btn-outline-blue m-1 w-100" id="cart_button_${item.product_id}" onclick="addToCart(${item.product_id})">Add To Cart</button> 
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                `);
            });
        }
        // Call fetchwishlistDetails function to fetch wishlist details
        fetchWishlistDetails();
    
        window.removeFromWishlist = function(wishlist_id){
            $.ajax({
                url: "{{ url_for('wishlist.status',id=0) }}".replace('0',wishlist_id),
                type: "GET",
                complete:res=> {
                    responseData=res.responseJSON
                        if (responseData.status === 'success') {
                            if(!responseData.data){
                                toastr.success("Product Removed From Wishlist");
                                $(".wishlist_item_"+wishlist_id).css("display","none")
                            }
                        }
                        else{
                            toastr.error(responseData.message);
                        }
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching wishlist details:', error);
                }
            });
        }
    
        window.addToCart = function(product_id){
            $.ajax({
                url: "{{ url_for('cart.add',product_id=0) }}".replace('0',product_id),
                type: "GET",
                complete:res=> {
                    responseData=res.responseJSON
                    console.log(responseData)
                    if (responseData.status == 'success') {
                            if(responseData.data){
                                toastr.success(responseData.message);
                                $("#cart_button_"+product_id).text("Added To Cart")
                            }
                            else{
                                toastr.error(responseData.message);
                                $("#cart_button_"+product_id).text("Add To Cart")
                               
                            }
                        }
                        else{
                            toastr.error(responseData.message);
                            
                        }
                        $("#cart_icon_"+product_id).replaceWith(`<button id="cart_icon_${product_id}" class="btn btn-outline-blue btn-square" onclick="addToCart(${product_id})" data-bs-placement="bottom" title="${tooltipTitle}" data-bs-custom-class="custom-tooltip" href="">${tooltipIcon}</button>`)
                    },
                error: function (xhr, status, error) {
                    toastr.error('Error fetching wishlist details:', error);
                }
            });
        }
    });
</script>
{% endblock %}