{% extends 'customer/base.html' %}

{% block title %}Wishlist{% endblock %}

{% block content %}

<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('home.index') }}"><i class="bi bi-house"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col">      
            <div>
                <table class="table table-bordered wishlist-table">
                    <thead class="table table-dark table-sm">      
                        <tr>
                            <td>Image</td>
                            <td>Product Name</td>
                            <td>Model</td>               
                            <td>Price</td>
                            <td>Actions</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>       
        </div>   
    </div>
</div>

<script>
    $(document).ready(function () {
        // Function to fetch cart details
        function fetchWishlistDetails() {
            $.ajax({
                url: "{{ url_for('wishlist.wishlist_page_data') }}",
                type: "GET",
                success: function (response) {
                    // Call function to render cart details
                    renderWishlistDetails(response);
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching Wishlist details:', error);
                    // Handle error, show error message, etc.
                }
            });
        }

        // Function to render Wishlist details on the frontend
        function renderWishlistDetails(wishlistDetails) {
            var wishlistTable = $('.wishlist-table tbody');

            // Clear previous content
            wishlistTable.empty();

            // Iterate over wishlist details and append to the DOM
            wishlistDetails.forEach(function (item) {
                // Append wishlist item to the wishlist table
                if(item.image.length>0){
                    product_image=item.image[0]
                }
                else{
                    product_image=null
                }
                // cartTooltipTitle = product.cart ? "Added to Cart" : "Add to Cart";
                // cartTooltipIcon = product.cart ? '<i class="bi bi-cart-check-fill"></i>' : '<i class="bi bi-cart-plus"></i>';
                // cart_button=`<button id="cart_icon_${product.id}" class="btn btn-outline-blue btn-square" onclick="addToCart(${product.id})" data-bs-placement="bottom" title="${cartTooltipTitle}" data-bs-custom-class="custom-tooltip" href="">${cartTooltipIcon}</button>`

                wishlistTable.append(`
                    <tr class="wishlist_item_${item.id}">
                        <td>${product_image ? `<img src="../../static/${product_image}" alt="" width="50">` : ''}</td>
                        <td>${item.product_name}</td>
                        <td>${item.model}</td>
                        <td>${item.price.toFixed(2)}</td>
                        <td>
                            <button class="btn btn-outline-blue border-0" data-toggle="tooltip"  data-bs-placement="bottom"  title="remove" onclick="removeFromWishlist(${item.id})"><i class="bi bi-trash3"></i></button> 
                            ${cart_button}
                        </td>
                    </tr>
                `);
            });
        }
        // Call fetchwishlistDetails function to fetch wishlist details
        fetchWishlistDetails();
    
        window.removeFromWishlist = function(wishlist_id){
            $.ajax({
                url: "{{ url_for('wishlist.status',id=0) }}".replace('0',wishlist_id),
                type: "GET",
                complete:res=> {
                    responseData=res.responseJSON
                        if (responseData.status === 'success') {
                            if(!responseData.data){
                                toastr.success("Product Removed From Wishlist");
                                $(".wishlist_item_"+wishlist_id).css("display","none")
                            }
                        }
                        else{
                            toastr.error(responseData.message);
                        }
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching wishlist details:', error);
                }
            });
        }
    
        window.addToCart = function(product_id){
            $.ajax({
                url: "{{ url_for('cart.add',product_id=0) }}".replace('0',product_id),
                type: "GET",
                complete:res=> {
                    responseData=res.responseJSON
                    if (responseData.status == 'success') {
                            if(responseData.data){
                                toastr.success(responseData.message);
                                tooltipTitle="Added to Cart"
                                tooltipIcon='<i class="bi bi-cart-check-fill"></i>'
                            }
                            else{
                                toastr.error(responseData.message);
                                tooltipTitle="Add to Cart"
                                tooltipIcon='<i class="bi bi-cart-plus"></i>'
                            }
                        }
                        else{
                            toastr.error(responseData.message);
                            tooltipTitle="Add to Cart"
                            tooltipIcon='<i class="bi bi-cart-plus"></i>'
                        }
                        $("#cart_icon_"+product_id).replaceWith(`<button id="cart_icon_${product_id}" class="btn btn-outline-blue btn-square" onclick="addToCart(${product_id})" data-bs-placement="bottom" title="${tooltipTitle}" data-bs-custom-class="custom-tooltip" href="">${tooltipIcon}</button>`)
                    },
                error: function (xhr, status, error) {
                    toastr.error('Error fetching wishlist details:', error);
                }
            });
        }
    });
</script>
{% endblock %}