<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>something went wrong</title>
</head>
<body>
    <div class="error-container">
        <img src="../../static/img/somethingwentwrong.gif" width="230px" height="230px">
        <div class="error-code">Oops! Something went wrong</div>
        <div class="error-message">We're sorry, but something unexpected happened. Please try refreshing the page.</div>
        <button class="refresh-button" onclick="window.location.reload();">Refresh Page</button>
    </div>
</body>
</html>
