{% extends 'admin/base.html' %}

{% block title %} Staff Details {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="card my-2 px-0 rounded-0">
            <div class="card-header">
                <h5 class="text-center my-1">Staff Details</h5>
            </div>
            <div class="card-body py-0">
                <div class="row" style="min-height: 200px;">
                    <div class="col-md-2 border-end">
                        <div class="p-1">
                            {% if user.profile_photo_url %}
                            <img src="{{ url_for('static', filename=user.profile_photo_url) }}" alt="..." class="card-img">
                            {% else %}
                            <img src="{{ url_for('static', filename='img/AVTAR.jpg') }}" alt="..." class="card-img">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-10">
                        <ul class="list-group border-0">
                            <li class="list-group-item border-0">
                                <span class="fw-bold">Name :</span> {{ user.first_name + " " +user.last_name }}
                            </li>
                            <li class="list-group-item  border-0">
                                <span class="fw-bold">Email :</span> {{ user.email }}
                            </li>
                            <li class="list-group-item border-0">
                                <span class="fw-bold">Mobile No. :</span> {{ user.mobile }}
                            </li>
                            <li class="list-group-item  border-0">
                                <span class="fw-bold">Address :</span> {{
                                    [
                                        user.landmark,
                                        user.address_line,
                                        user.city,
                                        user.state,
                                        user.street
                                    ] | select('defined')  | select('ne', '') | select('ne', None) | join(', ')
                                }}
                            </li>
                            <li class="list-group-item border-0">
                                <span class="fw-bold">Gender :</span> {{ user.gender }}
                            </li>
                            <li class="list-group-item border-0">
                                <span class="fw-bold">Date of Birth. :</span> {{ user.dob }}
                            </li>
                            <li class="list-group-item  border-0">
                                <span class="fw-bold">Salary : </span>{{ staff.salary }}
                            </li>
                            <li class="list-group-item  border-0">
                                <span class="fw-bold">Qualification : </span>{{ staff.qualification }}
                            </li>
                            <li class="list-group-item  border-0">
                                <span class="fw-bold">Department : </span>{{ department }}
                            </li>
                            <li class="list-group-item  border-0">
                                <span class="fw-bold">Joined At : </span>{{ staff.join_date.strftime('%Y-%m-%d') }}
                            </li>
                            {% if staff.leave_date %}
                            <li class="list-group-item  border-0">
                                <span class="fw-bold">Joined At : </span>{{ staff.leave_date.strftime('%Y-%m-%d') }}
                            </li>
                            {% endif %}
                          </ul>
                    </div>
                </div>
            </div>
            <div class="card-footer my-1">
                <a href="{{ url_for('staff.index') }}"  class="btn btn-outline-dark btn-sm float-end">Back</a>
                <a href="{{ url_for('staff.update',id=staff.id) }}"  class="btn btn-dark btn-sm me-1 float-end">Edit</a>

            </div>
        </div>
    </div>
</div>


{% endblock %}
