{% extends 'admin/base.html' %}

{% block title %}Update Staff{% endblock %}

{% block content %}
<div class="container">
    <h3 class="text-center my-3">Update Staff</h3>

    <div class="border p-5 border-1 shadow shadow-lg">
    <form method="POST" action="{{ url_for('staff.update', id=id) }}" enctype="multipart/form-data"  id="adminForm">
        {{ form.csrf_token }}
        <div class="row">

            <div class="row p-3">
                <div class="col-6">
                    {{ form.salary.label(class="form-label") }}
                    {{ form.salary(class="form-control form-control", placeholder="Enter Salary") }}
                </div>
                <div class="col-6">
                    {{ form.qualification.label(class="form-label") }}
                    {{ form.qualification(class="form-control form-control", placeholder="Enter Qualification") }}
                </div>
            </div>

            <div class="row p-3">
                <div class="col-6">
                    {{ form.join_date.label(class="form-label") }}
                    {{ form.join_date(class="form-control form-control") }}
                </div>
                <div class="col-6">
                    {{ form.leave_date.label(class="form-label") }}
                    {{ form.leave_date(class="form-control form-control") }}
                </div>
            </div>
            <div class="col-6">
                {{ form.department.label(class="form-label") }}
                {{ form.department(class="form-control form-control", placeholder="Enter Department") }}
            </div>
            
           

            <div class="row">
                <div class="col my-3">
                    <input type="submit" class="btn btn-dark btn-sm" value="Update" />
                    <a href="{{ url_for('staff.index') }}" class="btn btn-outline-dark btn-sm ">Back</a>
                </div>
            </div>
            
        </div>
    </form>
</div>
</div>
<script>
    $(document).ready(function () {
        $.validator.addMethod("notInPast", function(value, element) {
            var inputDate = new Date(value);
            var today = new Date();
            return inputDate >= today;
        }, "Please enter a date that's not in the past.");
        
        $('#adminForm').validate({
            rules: {
                salary: {
                    required: true,
                    number: true,
                    min: 0,
                    max: 100000
                },
                qualification: {
                    required: true,
                    minlength:3
                },
                join_date: {
                    required: true,
                    date: true,
                    notInPast: true
                },
                leave_date: {
                    date: true,
                    notInPast: true
                },
            },
            messages: {
                salary: {
                    required: "Please enter your salary",
                    number: "Please enter a valid number",
                    min: "Salary cannot be negative",
                    max: "Salary must be less than or equal to ₹100,000" 
                },
                qualification: {
                    required: "Please enter your qualification",
                    minlength: "Qualification must be at least 3 characters long" 
                },
                join_date: {
                    required: "Please enter your join date",
                    date: "Please enter a valid date"
                },
                leave_date: {
                    date: "Please enter a valid date"
                }
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    });
</script>
{% endblock %}
