{% extends 'admin/base.html' %}

{% block title %}Add Service{% endblock %}

{% block content %}


<div class="container">
    <h3 class="text-center my-3">Add Service</h3>

    <div class="border p-5 border-1 shadow shadow-lg">
    <form id="adminForm" method="POST" action="{{ url_for('service.add') }}" enctype="multipart/form-data">
        <!-- {{ form.hidden_tag() }} -->
        {{ form.csrf_token }}
        <div class="row">

            <div class="row p-3">
                <div class="col-6">
                    {{ form.service_type_id.label(class="form-label") }}
                    {{ form.service_type_id(class="form-control form-control") }}
                </div>
                <div class="col-6">
                    {{ form.service_name.label(class="form-label") }}
                    {{ form.service_name(class="form-control form-control", placeholder="Enter Service Name") }}
                </div>
            </div>

            <div class="col-12">
                {{ form.description.label(class="form-label") }}
                {{ form.description(class="form-control form-control", id="default-editor") }}
            </div>
            <div class="row p-3">
                <div class="col-6">
                    {{ form.service_charge.label(class="form-label") }}
                    {{ form.service_charge(class="form-control form-control", placeholder="Enter Service Charges") }}
                </div>
                <div class="col-6">
                    {{ form.discount.label(class="form-label") }}
                    {{ form.discount(class="form-control form-control", placeholder="Enter Discount") }}
                </div>
            </div>

            <div class="row p-3">
                <div class="col-6">
                    {{ form.payment_methods.label(class="form-label") }}
                    {{ form.payment_methods(class="form-control form-control") }}
                </div>
                <div class="col-6">
                    {{ form.hidden_tag() }}
                    {{ form.service_img_urls.label(class="form-label") }}
                    {{ form.service_img_urls(class="form-control form-control multi with-preview max-10 maxsize-40960 accept-gif|jpg|png|jpeg|webp") }}
                </div>
            </div>

           
            <div class="row">
                <div class="col my-3">
                    <a href="{{ url_for('service.index') }}" class="btn btn-outline-dark btn-sm ">Back</a>
                </div>
                <div class="col my-4" style="margin-left: -80px;">
                    <input type="submit" class="btn btn-dark btn-sm" value="Submit" />
                </div>
            </div>

        </div>
    </form>
    </div>

</div>

<script type="text/javascript">
    tinymce.init({
        selector: 'textarea#default-editor',
        height: 200,
        theme: 'modern',
        plugins: [
          'advlist autolink lists link charmap print preview hr anchor',
          'searchreplace wordcount visualblocks visualchars code fullscreen',
          'insertdatetime nonbreaking save table contextmenu directionality',
          'emoticons template paste textcolor colorpicker textpattern'
        ],
        toolbar1: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link',
        toolbar2: 'print preview media | forecolor backcolor emoticons'
    });
</script>

<script>
    $(document).ready(function () {
        $('#adminForm').validate({
            rules: {
                service_name: {
                    required: true,
                    minlength: 3,
                    maxlength: 50
                }
            },
            messages: {
                service_name: {
                    required: "Enter service name",
                    minlength: "Input must be at least 3 characters long",
                    maxlength: "Input must not exceed 200 characters"
                }
            },
            rules: {
                description: {
                    required: true,
                    minlength: 3,
                    maxlength: 400
                }
            },
            messages: {
                description: {
                    required: "Enter service description",
                    minlength: "Input must be at least 3 characters long",
                    maxlength: "Input must not exceed 400 characters"
                }
            },
            rules: {
                service_charge: {
                    required: true,
                    minlength: 2,
                    maxlength: 7,
                    digits: true
                }
            },
            messages: {
                service_charge: {
                    required: "Enter service charge in digits...!",
                    minlength: "Input must be at least 2 characters long",
                    maxlength: "Input must not exceed 7 characters",
                    digits: "Input must be number"
                }
            },
            rules: {
                payment_methods: {
                    required: true,
                }
            },
            messages: {
                payment_methods: {
                    required: "Enter payment methods...!(comma separeted int)",
                
                }
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    });
</script>

{% endblock %}


