{% extends 'admin/base.html' %}

{% block title %}Edit Service{% endblock %}

{% block content %}


<div class="container">
    <h3 class="text-center my-3">Edit Service</h3>

    <form method="POST" action="{{ url_for('service.edit', id=id) }}">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-12">
                {{ form.created_by.label(class="form-label") }}
                {{ form.created_by(class="form-control form-control-sm") }}
            </div>
            <div class="col-12">
                {{ form.service_name.label(class="form-label") }}
                {{ form.service_name(class="form-control form-control-sm") }}
            </div>
            <div class="col-12">
                {{ form.description.label(class="form-label") }}
                {{ form.description(class="form-control form-control-sm") }}
            </div>
            <div class="col-12">
                {{ form.service_charge.label(class="form-label") }}
                {{ form.service_charge(class="form-control form-control-sm") }}
            </div>
            <div class="col-12">
                {{ form.available_area_pincode.label(class="form-label") }}
                {{ form.available_area_pincode(class="form-control form-control-sm") }}
            </div>
            <div class="col-12">
                {{ form.payment_methods.label(class="form-label") }}
                {{ form.payment_methods(class="form-control form-control-sm") }}
            </div>
            <div class="col-12">
                {{ form.discount.label(class="form-label") }}
                {{ form.discount(class="form-control form-control-sm") }}
            </div>
            <div class="col-12">
                {{ form.service_img_urls.label(class="form-label") }}
                {{ form.service_img_urls(class="form-control form-control-sm") }}
            </div>
            <div class="col-12">
                {{ form.service_type_id.label(class="form-label") }}
                {{ form.service_type_id(class="form-control form-control-sm") }}
            </div>
            <div class="col-12 my-2">
                <button type="submit" class="btn btn-dark btn-sm">Submit</button>
                <a href="{{ url_for('service.index') }}" class="btn btn-outline-dark btn-sm">Back</a>
            </div>
        </div>
    </form>

</div>

{% endblock %}