{% extends 'admin/base.html' %}

{% block title %}All Users List{% endblock %}

{% block content %}

<div class="container">
    <h3 class="text-center my-3">Users</h3>

    <div class="row">
        <div class="col text-end">
            <a href="{{url_for('user.add')}}" class="btn btn-outline-dark btn-sm my-2">NEW</a>
        </div>
    </div>

    <table id="adminDataTable" class="table table-bordered" style="width:100%">
        <thead>
            <tr>
                <th># Id</th>
                <td>Profile Picture</td>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone No.</th>
                <th>Address</th>
                <th>Roles</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="modal " id="profileModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="userName">User Name</h5>
                <button type="button" class="btn-close btn-outline-dark" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <img src="" class="img-fluid d-block mx-auto" id="profilePicture" alt="Profile Picture" >
                <!-- <p>User Name.</p> -->
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var table = $('#adminDataTable').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "{{url_for('user.get_user_data')}}",
                "type": "GET"
            },
            "columns": [
                { "data": "id" },
                {
                    "data": "profile_photo_url",
                    "render": function (data, type, row) {
                        if (row.profile_photo_url != null && row.profile_photo_url != "") {
                            return `<img src="../../static/${row.profile_photo_url}" class="adminTableImg">`;
                        }
                        return null
                    }
                },
                { "data": "first_name" },
                { "data": "last_name" },
                {
                    "data": null,
                    "render": function (data, type, row) {
                        return `<a href="mailto:${row.email}" class="text-dark text-decoration-none"><i class="bi bi-envelope-at"></i> ${row.email}</a>`
                    }
                },
                { "data": "mobile" },
                { "data": "address" },
                { 
                    "data": null,
                    "render": function (data, type, row) {
                        let container = '<div>';

                        for (let key in row.roles) {
                            if (row.roles.hasOwnProperty(key)) {
                                container += '<button class="btn btn-outline-dark btn-sm m-1">' + row.roles[key] + '<a class="text-danger fw-bold" href="/admin/roles/status/' + key + '"><i class="bi bi-x-lg ms-2"></i></a></button></br>';
                            }
                        }
                        for (let key in row.not_in_roles) {
                            if (row.not_in_roles.hasOwnProperty(key)) {
                                container += '<button class="btn btn-outline-dark btn-sm m-1">' + row.not_in_roles[key] + '<a class="text-success" href="/admin/roles/add/' + key + '/' + row.id + '"><i class="bi bi-plus-lg ms-2"></i></a></button></br>';
                            }
                        }
                        container += '</div>';

                        return container;
                    }
                },
                {
                    "data": null,
                    "render": function (data, type, row) {
                        return '<button class="btn btn-outline-success btn-sm me-1" data-bs-placement="bottom" title="View" data-bs-custom-class="custom-tooltip" onclick="viewRecord(' + row.id + ')"><i class="bi bi-file-text"></i></button>' +
                            '<button class="btn btn-outline-dark btn-sm me-1" data-toggle="tooltip"  data-bs-placement="bottom" title="Edit" data-bs-custom-class="custom-tooltip" onclick="editRecord(' + row.id + ')"><i class="bi bi-pencil"></i></button>' +
                            '<button id="disable_btn_' + row.id + '" class="btn  btn-sm me-1 border-' + (row.is_active ? 'danger' : 'success') + '" data-toggle="tooltip"  data-bs-placement="bottom"' + (row.is_active ? 'title="Deactivate"' : 'title="Activate"') + ' onclick="deactivateRecord(' + row.id + ',' + row.is_active + ')" >' + (row.is_active ? '<i class="bi bi-eye-slash-fill text-danger"></i>' : '<i class="bi bi-eye-fill text-success"></i>') + '</button>';
                    }
                }
            ]
        });

        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

        window.editRecord = function (id) {
            window.location.href = "/admin/users/update/" + id;
        };
        window.viewRecord = function (id) {
            window.location.href = "/admin/users/details/" + id;
        };

        window.deactivateRecord = function (id, is_active) {
            const title = is_active ? "Deactivate User" : "Activate User";
            const icon = is_active ? "warning" : "success";
            const confirmButtonColor = is_active ? "#d7504D" : "#5FA052";
            const cancelButtonColor = is_active ? "#5FA052" : "#d7504D";

            Swal.fire({
                title: "Are you sure?",
                text: title,
                icon: icon,
                showCancelButton: true,
                confirmButtonText: is_active ? "Deactivate" : "Activate",
                confirmButtonColor: confirmButtonColor,
                cancelButtonColor: cancelButtonColor,
                customClass: {
                    confirmButton: 'btn btn-sm rounded-0',
                    cancelButton: 'btn btn-sm rounded-0'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "{{url_for('user.status',id=0)}}".replace('0', id),
                        method: "GET",
                        complete: res => {
                            responseData = res.responseJSON
                            if (responseData.status === 'success') {
                                if(responseData.data){
                                    toastr.success(responseData.message);
                                }
                                else{
                                    toastr.error(responseData.message);
                                }
                                $("#disable_btn_" + id).replaceWith(
                                    '<button id="disable_btn_' + id + '" class="btn  btn-sm me-1 border-'
                                    + (responseData.data ? 'danger' : 'success')
                                    + '" data-toggle="tooltip"  data-bs-placement="bottom"'
                                    + (responseData.data ? 'title="Deactivate"' : 'title="Activate"')
                                    + ' onclick="deactivateRecord(' + id + ',' + responseData.data + ')" >'
                                    + (responseData.data ? '<i class="bi bi-eye-slash-fill text-danger"></i>' : '<i class="bi bi-eye-fill text-success"></i>')
                                    + '</button>')
                            }
                            else {
                                toastr.error(responseData.message);
                            }
                        }
                    });
                }
            });
        };


    });
    $('#adminDataTable tbody').on('click', 'img.adminTableImg', function () {
        
        var src = $(this).attr('src');

        var userName = $(this).closest('tr').find('td:eq(2)').text() + " " + $(this).closest('tr').find('td:eq(3)').text();
        $('#userName').text(userName);
      
        $('#profilePicture').attr('src', src);

        $('#profileModal').modal('show');
    });
</script>


{% endblock %}