{% extends 'admin/base.html' %}

{% block title %}Users{% endblock %}

{% block content %}

<div class="container">
    <h3 class="text-center my-3">Users</h3>

    <div class="row">
        <div class="col text-end">
            <a href="{{url_for('user.add')}}" class="btn btn-outline-dark btn-sm my-2">NEW</a>
        </div>
    </div>

    <table id="adminDataTable" class="table table-bordered" style="width:100%">
        <thead>
            <tr>
                <th># Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone No.</th>
                <th>Roles</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        var table = $('#adminDataTable').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "{{url_for('user.get_user_data')}}",
                "type": "GET"
            },
            "columns": [
                { "data": "id" },
                { "data": "first_name" },
                { "data": "last_name" },
                { 
                    "data": null,
                    "render":function(data,type,row){
                        return `<a href="mailto:${row.email}" class="text-dark text-decoration-none"><i class="bi bi-envelope-at"></i> ${row.email}</a>`
                    }
                },
                { "data": "mobile" },
                { 
                    "data": null,
                    "render": function (data, type, row) {
                        let container = '<div>';

                        for (let key in row.roles) {
                            if (row.roles.hasOwnProperty(key)) {
                                container += '<button class="btn btn-outline-dark btn-sm m-1">' +row.roles[key] + '<a class="text-danger fw-bold" href="/admin/roles/status/'+key+'"><i class="bi bi-x-lg ms-2"></i></a></button></br>';
                            }
                        }
                        for (let key in row.not_in_roles) {
                            if (row.not_in_roles.hasOwnProperty(key)) {
                                container += '<button class="btn btn-outline-dark btn-sm m-1">' + row.not_in_roles[key] + '<a class="text-success" href="/admin/roles/add/'+key+'/'+row.id+'"><i class="bi bi-plus-lg ms-2"></i></a></button></br>';
                            }
                        }
                        container += '</div>';

                        return container;
                    }
                },
                {
                    "data": null,
                    "render": function (data, type, row) {
                        return '<button class="btn btn-outline-success btn-sm me-1" data-bs-placement="bottom" title="View" data-bs-custom-class="custom-tooltip" onclick="viewRecord(' + row.id + ')"><i class="bi bi-file-text"></i></button>' +
                        '<button class="btn btn-outline-dark btn-sm me-1" data-toggle="tooltip"  data-bs-placement="bottom" title="Edit" data-bs-custom-class="custom-tooltip" onclick="editRecord(' + row.id + ')"><i class="bi bi-pencil"></i></button>' +
                        '<button class="btn  btn-sm me-1 border-'+(row.is_active ? 'danger' : 'success')+'" data-toggle="tooltip"  data-bs-placement="bottom"'+ (row.is_active ? 'title="Deactivate"' : 'title="Activate"')+' onclick="deactivateRecord(' + row.id + ')" >' + (row.is_active ? '<i class="bi bi-eye-slash-fill text-danger"></i>' : '<i class="bi bi-eye-fill text-success"></i>') + '</button>';
                    }
                }
            ]
        });

        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        
        window.editRecord = function (id) {
            window.location.href= "/admin/users/update/" + id;
        };
        window.viewRecord = function (id) {
            window.location.href= "/admin/users/details/" + id;
        };

        window.deactivateRecord = function (id) {
            window.location.href= "/admin/users/status/" + id;
        };

        
    });
</script>


{% endblock %}