{% extends 'admin/base.html' %}

{% block title %}Users{% endblock %}

{% block content %}

<div class="container">
    <h3 class="text-center my-3">Users</h3>

    <div class="row">
        <div class="col text-end">
            <a href="{{url_for('user_bp.add')}}" class="btn btn-outline-dark btn-sm my-2">NEW</a>
        </div>
    </div>

    <table id="userTable" class="table table-bordered" style="width:100%">
        <thead>
            <tr>
                <th># Id</th>
                <th>First Name</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        var table = $('#userTable').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "{{url_for('user_bp.get_user_data')}}",
                "type": "GET"
            },
            "columns": [
                { "data": "id" },
                { "data": "first_name" },
                { "data": "email" },
                { "data": "roles" },
                {
                    "data": null,
                    "render": function (data, type, row) {
                    console.log(row.is_active)
                        return '<button class="btn btn-outline-dark btn-sm me-1" onclick="editRecord(' + row.id + ')">Edit</button>' +
                            '<button class="btn btn-outline-dark btn-sm me-1" onclick="deactivateRecord(' + row.id + ')">' + (row.is_active ? 'Activated' : 'Deactivated') + '</button>';
                    }
                }
            ]
        });

        window.editRecord = function (id) {
            window.location.href= "/admin/users/update/" + id;
        };

        window.deactivateRecord = function (id) {
            window.location.href= "/admin/users/status/" + id;
        };
    });
</script>


{% endblock %}