{% extends 'admin/base.html' %}

{% block title %}Add ServiceType{% endblock %}

{% block content %}

<div class="container">
    <h3 class="text-center my-3">Add ServiceType</h3>

    <div class="border p-5 border-1 shadow shadow-lg">
    <form method="POST" action="{{ url_for('service_type.add') }}" id="adminForm" enctype="multipart/form-data"> 
        {{ form.csrf_token }}
        <div class="row">


            <div class="row p-3">
                <div class="col-6">
                    {{ form.type_name.label(class="form-label") }}
                    {{ form.type_name(class="form-control form-control", placeholder="Enter Service Type Name") }}
                </div>
                <div class="col-6">
                    {{ form.service_type_img_url.label(class="form-label") }}
                    {{ form.service_type_img_url(class="form-control form-control multi with-preview max-1 accept-gif|jpg|png|jpeg|webp") }}
                </div>
            </div>
            
            <div class="row">
                <div class="col my-3">
                    <input type="submit" class="btn btn-dark btn-sm" value="Submit" />
                    <a href="{{ url_for('service_type.index') }}" class="btn btn-outline-dark btn-sm ">Back</a>
                </div>
            </div>

        </div>
    </form>
    </div>

</div>

<script>
    $(document).ready(function () {
        $('#adminForm').validate({
            rules: {
                type_name: {
                    required: true,
                    minlength: 3,
                    maxlength: 50
                }
            },
            messages: {
                type_name: {
                    required: "Please enter a service type",
                    minlength: "Input must be at least 3 characters long",
                    maxlength: "Input must not exceed 30 characters"
                }
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    });
</script>

{% endblock %}