{% extends 'admin/base.html' %}

{% block title %}Edit ServiceType{% endblock %}

{% block content %}

<div class="container">
    <h3 class="text-center my-3">Edit ServiceType</h3>

    <form method="POST" action="{{ url_for('service_type_bp.update', id=id) }}" id="editServiceTypeForm">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-12">
                {{ form.created_by.label(class="form-label") }}
                {{ form.created_by(class="form-control form-control-sm") }}
            </div>
            <div class="col-12">
                {{ form.type_name.label(class="form-label") }}
                {{ form.type_name(class="form-control form-control-sm") }}
            </div>
            
            <div class="col-12 my-2">
                <button type="submit" class="btn btn-dark btn-sm">Submit</button>
                <a href="{{ url_for('service_type_bp.index') }}" class="btn btn-outline-dark btn-sm">Back</a>
            </div>
        </div>
    </form>

</div>

<script>
    $(document).ready(function () {
        $('#editServiceTypeForm').validate({
            rules: {
                type_name: {
                    required: true,
                    minlength: 3,
                    maxlength: 30
                }
            },
            messages: {
                type_name: {
                    required: "Please enter a service type",
                    minlength: "Input must be at least 3 characters long",
                    maxlength: "Input must not exceed 30 characters"
                }
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    });
</script>

{% endblock %}