{% extends 'admin/base.html' %}

{% block title %}Service Reviews{% endblock %}

{% block content %}

<div class="container">
    <h3 class="text-center my-3">Service Reviews</h3>

    <table id="adminDataTable" class="table table-bordered" style="width:100%">
        <thead>
            <tr>
                <th># id</th>
                <th>Service Name</th>
                <th>User Id</th>
                <th>Review Title</th>
                <th>Description</th>
                <th>Rating</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        var table = $('#adminDataTable').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "{{url_for('service_review.get_service_review_data')}}",
                "type": "GET"
            },
            "columns": [
                { "data": "id" },
                { "data": "service_name"},
                { "data": "user_id" },
                { "data": "review_title"},
                { "data": "description"},
                { "data": "rating"},
                {
                    "data": null,
                    "render": function (data, type, row) {
                        return '<button class="btn border-'+(row.is_active ? 'danger' : 'success')+' btn-sm me-1" onclick="deactivateRecord(' + row.id + ')">' + (row.is_active ? '<i class="bi bi-eye-slash-fill text-danger"></i>' : '<i class="bi bi-eye-fill text-success"></i>') + '</button>';
                    }
                }
            ]
        });

        window.deactivateRecord = function (id) {
            window.location.href= "/admin/service_reviews/status/" + id;
        };
    });
</script>


{% endblock %}