{% extends 'admin/base.html' %}

{% block title %}Product Reviews{% endblock %}

{% block content %}

<div class="container">
    <h3 class="text-center my-3">Product Reviews</h3>

    <table id="adminDataTable" class="table table-bordered" style="width:100%">
        <thead>
            <tr>
                <th># id</th>
                <th>Product Name</th>
                <th>User Id</th>
                <th>Review Title</th>
                <th>Description</th>
                <th>Rating</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        var table = $('#adminDataTable').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "{{url_for('product_review.get_product_review_data')}}",
                "type": "GET"
            },
            "columns": [
                { "data": "id" },
                { "data": "product_name"},
                { "data": "user_id" },
                { "data": "review_title"},
                { "data": "description"},
                { "data": "rating"},
                {
                    "data": null,
                    "render": function (data, type, row) {
                        return '<button class="btn  btn-sm me-1 border-'+(row.is_active ? 'danger' : 'success')+'" data-toggle="tooltip"  data-bs-placement="bottom"'+ (row.is_active ? 'title="Deactivate"' : 'title="Activate"')+' onclick="deactivateRecord(' + row.id + ')" >' + (row.is_active ? '<i class="bi bi-eye-slash-fill text-danger"></i>' : '<i class="bi bi-eye-fill text-success"></i>') + '</button>';
                    }
                }
            ]
        });

        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        
        window.deactivateRecord = function (id) {
            window.location.href= "/admin/product_reviews/status/" + id;
        };
    });
</script>


{% endblock %}